<div id="headerbar"> &nbsp; </div>
<div id="header">
  <div id="hleft"> &nbsp; </div>
  <div id="logo" onclick="location.href='../index.html';" style="cursor: pointer;">ABC Hoops NYC</div>
<div style="height:34px;width:723px;background-color:none;float:left;margin-top:0px;"><p style="margin-top:4px;margin-left:280px;padding:0px;font-size:12px;font-family:Arial,Geneva,sans-serif;color:#000000;font-weight:bold;">Read about us in SLAM Online!&nbsp;<a href="http://www.slamonline.com/online/blogs/the-notorious-dnp/2012/06/abchoopsny-abcs-of-love/" target="_blank"><img src="../images/slamlogo25pxh.gif" style="vertical-align:middle;margin-left:3px;" /></a></p>
</div>
  <div id="hright">
    <ul id="navbar">
      <li><a href="../theleague.shtml">League</a>
        <ul>
          <li><a href="../news-1.shtml">News</a></li>
          <li><a href="../theleague.shtml">Info</a></li>
          <li><a href="../theleague.shtml#rules">Rules</a></li>
          
          <li><a href="../theleague.shtml#contact">Contact</a></li>
        </ul>
      </li>
      <li><a href="../schedule.shtml">Scores & Sched</a>
        <ul class="schedulemenu">
           
            <li><a href="../schedule_s10_sun.shtml">Sunday Scores & Sched</a></li>
        </ul>
      </li>
      <li><a href="../results.shtml">Stats</a>
        <ul class="statsmenu">
          <li><a href="../results.shtml#standings">Standings</a></li>
          <li><a href="../results.shtml#leaderboard">Leaderboard</a></li>
          <li><a href="../results.shtml#teamstats">Team Stats</a></li>
          <!--<li><a href="../s7_fall12_sun/3pointcontest.html">3 Point Contest</a></li>-->
        </ul>
      </li>
        <li><a href="../store_shirts.shtml">Store</a>
          <ul class="teamsmenu">
           <li><a href="../store_shirts.shtml">Apparel</a></li>
          <li><a href="../store_shoes.shtml">Shoes</a></li>
          </ul>
        </li>
      
      <li><a href="../media.shtml">Media</a>
        <ul class="mediamenu">
        </ul>
      </li>
    </ul>
    <div id="signupblock">
      <p class="signuphead"><a href="../signup.shtml">Sign Up</a></p>
      <!--<p class="signupheaddays"><a href="../signup.shtml">Weekdays&nbsp;&nbsp;&amp;&nbsp;&nbsp;Weekends</a></p>-->
    </div>
  </div>
  <!-- AddThis Button BEGIN -->
  <div style="position:absolute;top:129px;right:345px;z-index:2;">
    <p style="margin:0px;padding:0px;font-size:10px;font-weight:bold;">Share:</p>
  </div>
  <div class="addthis_toolbox addthis_default_style " style="position:absolute;top:127px;right:285px;height:17px;width:60px;z-index:2;"> <a class="addthis_button_preferred_1"></a> <a class="addthis_button_preferred_2"></a> <a class="addthis_button_preferred_3"></a> </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script> 
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fc4f8b56ea9e91f"></script> 
  <!-- AddThis Button END --> 
</div>
<div id="socnettab"><img src="../images/socnettab.png" width="43" height="130" border="0" usemap="#socnet">
  <map name="socnet">
    <area shape="rect" coords="6,7,36,37" href="https://www.facebook.com/pages/ABCHoopsNYC/194635237228307" alt="Follow us on Facebook" title="Follow us on Facebook">
    <area shape="rect" coords="6,46,36,76" href="http://www.flickr.com/photos/60289240@N08/" alt="Follow us on Flickr" title="Follow us on Flickr">
    <area shape="rect" coords="6,85,36,115" href="http://twitter.com/abchoopsnyc" alt="Follow us on Twitter" title="Follow us on Twitter">
  </map>
</div>
  <div id="container-outer">
    <div id="container-inner">
      <div id="content">
        <h1>Results</h1>
        <h2>&nbsp;</h2>
        <table width="650" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="150" align="left"><a href="wk4_11am_hk.shtml">&#171;11AM: TCU vs TSW</a></td>
            <td align="center"><b>12:00PM: Grand Life vs Game, Blouses</b></td>
            <td width="150" align="right"><a href="wk4_5pm_hk.shtml">5PM: FLD vs FRN&#187;</a></td>
          </tr>
        </table>
        </p>
        <p class="sep"><table class="boxscore" width="550" border="0" cellspacing="0" cellpadding="5">
                <tr>
                  <td><a href="../s10_summer13_sun/wk4_12pm_hk.shtml">Week 4 - 12:00PM</a></td>
                  <td width="90" class="half">1st Half</td>
                  <td width="90" class="half">2nd Half</td>
                  <td width="90" class="total">Total</td>
                </tr>
                <tr>
                  <td class="team">&#8226;&nbsp;Grand Life</td>
                  <td class="half">31</td>
                  <td class="half">36</td>
                  <td class="total">67</td>
                </tr>
                <tr>
                  <td class="team">&nbsp;&nbsp;&nbsp;Game, Blouses</td>
                  <td class="half">20</td>
                  <td class="half">38</td>
                  <td class="total">58</td>
                </tr>
                <tr>
                  <td class="team" style="font-weight:bold;font-size:10px;">Played at the Hells Kitchen Gym</td>
                  <td class="half">&nbsp;</td>
                  <td colspan="2" class="total"><a href="../s10_summer13_sun/wk4_12pm_hk.shtml#fullboxscore">Full Box Score&#187;</a>&nbsp;</td>
                </tr>
              </table>
<div class="horizline"></div> </p>
        <script type="text/javascript" id="sourcecode">
ang(document).ready(function(){
	ang('#slides1').bxGallery({
		maxwidth: '',
		maxheight: '',
		thumbwidth: 150,
		thumbcrop: false,
		croppercent: .35,
		thumbplacement: 'top',
		thumbcontainer: '',
		opacity: .7,
		load_text: '',
		load_image: 'http://abchoopsnyc.com/images/spinner.gif',
		wrapperclass: 'outer' 
	});
});
		</script>
        <ul id="slides1">
          <li><img class="pic" src="img/s10b_wk4_12pm_hk_1.JPG" title="&nbsp;" /></li>
          <li><img class="pic" src="img/s10b_wk4_12pm_hk_2.JPG" title="&nbsp;" /></li>
          <li><img class="pic" src="img/s10b_wk4_12pm_hk_3.JPG" title="&nbsp;" /></li>
          <li><img class="pic" src="img/s10b_wk4_12pm_hk_4.JPG" title="&nbsp;" /></li> </ul> <div class="horizline"></div>
        <a name="fullboxscore" id="fullboxscore"></a>
        <p class="sep"><table cellspacing="0" cellpadding="2" width="650">
  <tbody>
    <tr class="statthead">
      <td colspan="10" style="font-size: 14px">Grand Life</td>
    </tr>
    <tr class="statthead">
      <td width="132">&nbsp;</td>
      <td width="78">Field Goals</td>
      <td width="75">3PT</td>
      <td width="75">FT</td>
      <td width="75">Rebounds</td>
      <td width="25">&nbsp;</td>
      <td width="25">&nbsp;</td>
      <td width="25">&nbsp;</td>
      <td width="25">&nbsp;</td>
      <td width="45">&nbsp;</td>
    </tr>
  </tbody>
</table>
<p class="ns"></p>
<table id="teamstats" class="sortable maintablelr" cellspacing="0" cellpadding="2" width="650">
  <thead class="statthead">
    <tr>
      <th width="25">No.</th>
      <th class="sorttable_nosort">Name</th>
      <th width="43">M-A</th>
      <th width="35">%</th>
      <th width="40">M-A</th>
      <th width="35">%</th>
      <th width="40">M-A</th>
      <th width="35">%</th>
      <th width="25">O</th>
      <th width="25">D</th>
      <th width="25">T</th>
      <th width="25">A</th>
      <th width="25">S</th>
      <th width="25">B</th>
      <th width="25">F</th>
      <th width="45">P</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd2">
      <td>0</td>
      <td>Arnell</td>
      <td class="lline">2-3</td>
      <td>.667</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">2-2</td>
      <td>1.00</td>
      <td class="lline">0</td>
      <td>1</td>
      <td>1</td>
      <td class="lline">1</td>
      <td class="lline">1</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">6</td>
    </tr>
    <tr class="even2">
      <td>1</td>
      <td>Chris L.</td>
      <td class="lline">8-13</td>
      <td>.615</td>
      <td class="lline">6-9</td>
      <td>.667</td>
      <td class="lline">7-8</td>
      <td>.875</td>
      <td class="lline">0</td>
      <td>0</td>
      <td>0</td>
      <td class="lline">0</td>
      <td class="lline">2</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">29</td>
    </tr>
    <tr class="odd2">
      <td>3</td>
      <td>Roy S.</td>
      <td class="lline">0-5</td>
      <td>.000</td>
      <td class="lline">0-2</td>
      <td>.000</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">0</td>
      <td>1</td>
      <td>1</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">1</td>
      <td class="lline">0</td>
    </tr>
    <tr class="even2">
      <td>8</td>
      <td>Cedrick B.</td>
      <td class="lline">4-11</td>
      <td>.364</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">0-2</td>
      <td>.000</td>
      <td class="lline">3</td>
      <td>3</td>
      <td>6</td>
      <td class="lline">2</td>
      <td class="lline">3</td>
      <td class="lline">2</td>
      <td class="lline">1</td>
      <td class="lline">8</td>
    </tr>
    <tr class="odd2">
      <td>23</td>
      <td>Leo J.</td>
      <td class="lline">6-10</td>
      <td>.600</td>
      <td class="lline">3-5</td>
      <td>.600</td>
      <td class="lline">1-3</td>
      <td>.333</td>
      <td class="lline">1</td>
      <td>5</td>
      <td>6</td>
      <td class="lline">0</td>
      <td class="lline">3</td>
      <td class="lline">0</td>
      <td class="lline">1</td>
      <td class="lline">16</td>
    </tr>
    <tr class="even2">
      <td>32</td>
      <td>James</td>
      <td class="lline">0-1</td>
      <td>.000</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">0</td>
      <td>1</td>
      <td>1</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
    </tr>
    <tr class="odd2">
      <td>34</td>
      <td>Kahree B.</td>
      <td class="lline">3-7</td>
      <td>.429</td>
      <td class="lline">1-2</td>
      <td>.500</td>
      <td class="lline">1-4</td>
      <td>.250</td>
      <td class="lline">4</td>
      <td>13</td>
      <td>17</td>
      <td class="lline">5</td>
      <td class="lline">2</td>
      <td class="lline">1</td>
      <td class="lline">1</td>
      <td class="lline">8</td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="stattotal">
      <td>&nbsp;</td>
      <td>Total</td>
      <td class="lline">23-50</td>
      <td>.430</td>
      <td class="lline">10-18</td>
      <td>.556</td>
      <td class="lline">11-19</td>
      <td>.579</td>
      <td class="lline">8</td>
      <td>24</td>
      <td>32</td>
      <td class="lline">8</td>
      <td class="lline">11</td>
      <td class="lline">3</td>
      <td class="lline">4</td>
      <td class="lline">67</td>
    </tr>
  </tfoot>
</table>
 
        </p>
        <p class="sep"><table cellspacing="0" cellpadding="2" width="650">
  <tbody>
    <tr class="statthead">
      <td colspan="10" style="font-size: 14px">Game, Blouses</td>
    </tr>
    <tr class="statthead">
      <td width="132">&nbsp;</td>
      <td width="78">Field Goals</td>
      <td width="75">3PT</td>
      <td width="75">FT</td>
      <td width="75">Rebounds</td>
      <td width="25">&nbsp;</td>
      <td width="25">&nbsp;</td>
      <td width="25">&nbsp;</td>
      <td width="25">&nbsp;</td>
      <td width="45">&nbsp;</td>
    </tr>
  </tbody>
</table>
<p class="ns"></p>
<table id="teamstats" class="sortable maintablelr" cellspacing="0" cellpadding="2" width="650">
  <thead class="statthead">
    <tr>
      <th width="25">No.</th>
      <th class="sorttable_nosort">Name</th>
      <th width="43">M-A</th>
      <th width="35">%</th>
      <th width="40">M-A</th>
      <th width="35">%</th>
      <th width="40">M-A</th>
      <th width="35">%</th>
      <th width="25">O</th>
      <th width="25">D</th>
      <th width="25">T</th>
      <th width="25">A</th>
      <th width="25">S</th>
      <th width="25">B</th>
      <th width="25">F</th>
      <th width="45">P</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd2">
      <td>00</td>
      <td>Tyler</td>
      <td class="lline">2-6</td>
      <td>.333</td>
      <td class="lline">1-2</td>
      <td>.500</td>
      <td class="lline">0-2</td>
      <td>.000</td>
      <td class="lline">4</td>
      <td>5</td>
      <td>9</td>
      <td class="lline">6</td>
      <td class="lline">0</td>
      <td class="lline">1</td>
      <td class="lline">3</td>
      <td class="lline">5</td>
    </tr>
    <tr class="even2">
      <td>2</td>
      <td>Karl</td>
      <td class="lline">4-12</td>
      <td>.333</td>
      <td class="lline">2-4</td>
      <td>.500</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">1</td>
      <td>1</td>
      <td>2</td>
      <td class="lline">1</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">1</td>
      <td class="lline">10</td>
    </tr>
    <tr class="odd2">
      <td>4</td>
      <td>KG</td>
      <td class="lline">2-4</td>
      <td>.500</td>
      <td class="lline">1-2</td>
      <td>.500</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">1</td>
      <td>6</td>
      <td>7</td>
      <td class="lline">4</td>
      <td class="lline">2</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">5</td>
    </tr>
    <tr class="even2">
      <td>9</td>
      <td>Park</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">0</td>
      <td>2</td>
      <td>2</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">1</td>
      <td class="lline">0</td>
    </tr>
    <tr class="odd2">
      <td>15</td>
      <td>James</td>
      <td class="lline">6-11</td>
      <td>.545</td>
      <td class="lline">2-4</td>
      <td>.500</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">1</td>
      <td>1</td>
      <td>2</td>
      <td class="lline">1</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">2</td>
      <td class="lline">14</td>
    </tr>
    <tr class="even2">
      <td>23</td>
      <td>Tom</td>
      <td class="lline">2-5</td>
      <td>.400</td>
      <td class="lline">0-2</td>
      <td>.000</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">1</td>
      <td>1</td>
      <td>2</td>
      <td class="lline">1</td>
      <td class="lline">0</td>
      <td class="lline">1</td>
      <td class="lline">2</td>
      <td class="lline">4</td>
    </tr>
    <tr class="odd2">
      <td>31</td>
      <td>Desmin</td>
      <td class="lline">10-16</td>
      <td>.625</td>
      <td class="lline">0-0</td>
      <td>.000</td>
      <td class="lline">0-2</td>
      <td>.000</td>
      <td class="lline">4</td>
      <td>7</td>
      <td>11</td>
      <td class="lline">1</td>
      <td class="lline">1</td>
      <td class="lline">0</td>
      <td class="lline">0</td>
      <td class="lline">20</td>
    </tr>
  </tbody>
  <tfoot>
    <tr class="stattotal">
      <td>&nbsp;</td>
      <td>Total</td>
      <td class="lline">26-54</td>
      <td>.481</td>
      <td class="lline">6-14</td>
      <td>.429</td>
      <td class="lline">0-4</td>
      <td>.000</td>
      <td class="lline">12</td>
      <td>23</td>
      <td>35</td>
      <td class="lline">14</td>
      <td class="lline">3</td>
      <td class="lline">2</td>
      <td class="lline">9</td>
      <td class="lline">58</td>
    </tr>
  </tfoot>
</table>
 
        </p>
        <p class="ls"><table cellpadding="2" cellspacing="0" border="0" width="650">
  <tbody>
    <tr class="terms">
      <td colspan="8">Click each column to sort descending or ascending for each stat.</td>
    </tr>
    <tr class="terms">
      <td colspan="8">&nbsp;</td>
    </tr>
    <tr>
      <td colspan="3"><b><em>Glossary</em></b></td>
    </tr>
    <tr class="terms">
      <td><b>3PT</b></td>
      <td width="205">Three Pointers (Made &amp; Attempted)</td>
      <td><b>O</b></td>
      <td width="155">Offensive Rebounds</td>
      <td><b>A</b></td>
      <td>Assists</td>
      <td><b>F</b></td>
      <td>Fouls</td>
    </tr>
    <tr class="terms">
      <td><b>FT</b></td>
      <td width="205">Free Throws (Made &amp; Attempted)</td>
      <td><b>D</b></td>
      <td width="155">Defensive Rebounds</td>
      <td><b>S</b></td>
      <td>Steals</td>
      <td><b>P</b></td>
      <td>Points</td>
    </tr>
    <tr class="terms">
      <td><b><br />
        </b></td>
      <td width="205"><br /></td>
      <td><b>T</b></td>
      <td width="155">Total Rebounds</td>
      <td><b>B</b></td>
      <td>Blocks</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>

        </p>
      </div>
      <div class="rightcolumn">
<div class="sidebarscrollpane">
  <p class="sidebarhead">Standings:</p>
  <div class="section" id="suns">
    <div class="scroll-paneNS">
      <table class="standings">
        <tr>
          <td class="division" colspan="3">Pistol Pete</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_grandlife.shtml">Grand Life</a></b></td>
          <td>5-0</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_pfflyers.shtml">PF Flyers</a></b></td>
          <td>5-0</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_thecomeup.shtml">The Come Up</a></b></td>
          <td>3-1</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_gameblouses.shtml">Game, Blouses</a></b></td>
          <td>3-2</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_dynamo.shtml">Dynamo</a></b></td>
          <td>2-2</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_jetlife.shtml">Jet Life</a></b></td>
          <td>2-2</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_teamswishers.shtml">Team Swishers</a></b></td>
          <td>1-3</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_theclick.shtml">The Click</a></b></td>
          <td>1-3</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_mashpotatosmoove.shtml">Mash Potato Smoove</a></b></td>
          <td>1-3</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_redhorsemen.shtml">Red Horsemen</a></b></td>
          <td>1-3</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_silentassassins.shtml">Silent Assassins</a></b></td>
          <td>0-4</td>
        </tr>
        <tr>
          <td class="division" colspan="3">Big Country</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_ballislife.shtml">#BallisLife</a></b></td>
          <td>4-1</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_younggunnaz.shtml">Young Gunnaz</a></b></td>
          <td>3-1</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_iss.shtml">ISS</a></b></td>
          <td>3-2</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_hodor.shtml">Hodor</a></b></td>
          <td>3-2</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_abab.shtml">ABAB</a></b></td>
          <td>2-2</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_thefranchise.shtml">The Franchise</a></b></td>
          <td>1-3</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_falcons1.shtml">Falcons 1</a></b></td>
          <td>1-3</td>
        </tr>
        <tr>
          <td class="division" colspan="3">The Admiral</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_titans.shtml">Titans</a></b></td>
          <td>4-1</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_flashdancers.shtml">Flashdancers</a></b></td>
          <td>2-2</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_falcons2.shtml">Falcons 2</a></b></td>
          <td>2-2</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_princeandtherevolution.shtml">Prince &amp; the Revolution</a></b></td>
          <td>1-3</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_jailblazers.shtml">Jailblazers</a></b></td>
          <td>2-3</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><b><a href="../s10_summer13_sun/team_s10b_queensstorm.shtml">Queens Storm</a></b></td>
          <td>0-4</td>
        </tr>
      </table>
    </div>
  </div>
</div>
   <div class="sidebar">
    <p class="sidebarhead">Mailing List</p>
<p class="sidebartext" style="margin-top:0px;">Enter your email to get updates from ABC Hoops NYC:</p>
<!-- Begin MailChimp Signup Form -->
<link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
</style>
<div id="mc_embed_signup">
<form action="http://abchoopsnyc.us5.list-manage.com/subscribe/post?u=45a474589f24f0540c1ca9eab&amp;id=8bb7c8f5be" method="post" id="mc-embedded-subscribe-form" style="padding-bottom:0px;padding-top:0px;" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
	
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="padding:2px;text-indent:2px;width:80%;" placeholder="email address" required>
	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="font-size:12px;height:20px;line-height:20px;margin:0px;"class="button"></div>
</form>
</div>

<!--End mc_embed_signup-->
</div>
  <div class="sidebar">
    <p class="sidebarhead">Events</p>
    <br/>
    <h2>What: 3-Point Contest</h2>
    <h2>When: May 19th @ 2:45PM</h2>
<h2>Winner: Jordan S.</h2>
        <h2>Prize: Concords</h2>
    <p class="sidebartext">ABC Hoops NYC's fifth 3-Point Contest took place May 19th.  The winner, Jordan S., chose Concords as his prize. </p>
    <p class="sidebartext" style="line-height:130%;font-size:13px;"><a href="../s9_spring13_sun/3pointcontest.shtml"><u>Click here</u></a> to read more.</p>
  </div>
  <div class="sidebar">
    <p class="sidebarhead">Parties/Corporate Events</p>
    <p class="sidebartext">Let ABC Hoops NYC host your next party or corporate event.  We offer gym rentals with the following options:</p>
    <ul class="sidebarlist">
      <li>Referees</li>
      <li>Scorekeepers</li>
      <li>Photographers</li>
      <li>Videographer</li>
    </ul>
    <p class="sidebartext">For more information, please email <a href="mailto:abchoopsnyc@gmail.com">abchoopsnyc@gmail.com</a>.</p>
  </div>
</div> 
    </div>
  </div>
  <h3>&nbsp;</h3>
<div class="separator"></div>
<div id="footer">
  <table class="footer" width="915" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td><a href="../index.html">Home</a></td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><a href="../theleague.shtml">The League</a> | <a href="../theleague.shtml#rules">Rules & Format</a> | <a href="../theleague.shtml#facilities">Facilities</a> | <a href="../schedule.shtml">Schedule</a>  | <a href="../results.shtml">Results</a> | <a href="../theleague.shtml#contact">Contact</a></td>
      <td align="right">&#169; Copyright 2011-2013</td>
    </tr>
    <tr>
      <td><a href="../signup.shtml">Sign Up</a> 
      <td align="right">All Rights Reserved.</td>
    </tr>
  </table>
</div>
<div id="cleardiv"></div>