=form_tag("#{merge_players_path}", method: :put, style: "margin: 20px auto 50px auto; width: 600px;") do |f|
  .player
    %h3 Player:
    %br
    :plain
      <table id="merge-players" class="table table-striped" data-source="#{datatables_players_url(format: 'json')}">
        <thead>
          <tr>
            <th></th>
            <th>First</th>
            <th>Last</th>
            <th>Display</th>
            <th>Team</th>
            <th>#</th>
            <th>Pos</th>
            <th>Height</th>
            <th>School</th>
            <th>Hometown</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  .dupe
    %h3 Duplicate:
    %br
    :plain
      <table id="merge-duplicates" class="table table-striped" data-source="#{datatables_players_url(format: 'json')}">
        <thead>
          <tr>
            <th></th>
            <th>First</th>
            <th>Last</th>
            <th>Display</th>
            <th>Team</th>
            <th>#</th>
            <th>Pos</th>
            <th>Height</th>
            <th>School</th>
            <th>Hometown</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  %br
  .info{style:"font-size: 12px;"} Clicking Merge will assign all stat lines and roster spots from the Duplicate to the Player, and delete the Duplicate.
  %br
  %input{type:"submit", value:"Merge", class: 'btn btn-primary btn-block'}