#edit_boxscore table input[type="number"] {
  margin-bottom: 0;
  width: 35px;
}

#edit_boxscore .half_score {
  width: 35px;
}

#boxscore td, #boxscore th {
  text-align: center;
}

#scores td, #scores th {
  text-align: center;
}

.table-nonfluid {
   width: auto;
}