// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap/variables";
@import "bootstrap/mixins";

#players th:first-child {
  width: 100px;
}

#players form.button_to {
  display: inline;
  margin-left: 10px;
  div {
    display: inline;
  }
}

div.player_form {
  max-width: 300px;
  margin: 20px auto 0 auto;
}

#player_profile
{
  div.header {
    @include gradient-vertical($black, $white);
    color: white;
    padding: 20px;
  }

  #game-log td, #game-log th {
    text-align: center;
  }
}