<h1>Sanders Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="0" style="width:780px;">
  <tbody>
    <tr>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">1st Round</td>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">Semis</td>
      <td style="width:30px;"></td>
      <td style="width:30px;"></td>
      <td></td>
      <td style="width:15px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><b>(4) Big State</b></td>
      <td class="rline tline bline bteam" width="15">60</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(1) Paul &amp; Co</td>
      <td class="rline tline bline bteam" style="width:20px">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) Wrecking</td>
      <td class="rline bline bteam">59</td>
      <td></td>
      <td class="lline bline bteam">(4) Big State</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" style="width:200px;">Finals</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:150px">&nbsp;</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><b>(3) City Hoops</b></td>
      <td class="rline tline bline bteam">45</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(2) Come Up</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(6) Weil</td>
      <td class="rline bline bteam">43</td>
      <td></td>
      <td class="lline bline bteam">(3) City Hoops</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>
<h1>Clinton Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="0" style="width:780px;">
  <tbody>
    <tr>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">1st Round</td>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">Semis</td>
      <td style="width:30px;"></td>
      <td style="width:30px;"></td>
      <td></td>
      <td style="width:15px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><b>(4) Hodor</b></td>
      <td class="rline tline bline bteam" width="15">51</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(1) Takeover</td>
      <td class="rline tline bline bteam" style="width:20px">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) Chiefs</td>
      <td class="rline bline bteam">44</td>
      <td></td>
      <td class="lline bline bteam">(4) Hodor</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" style="width:200px;">Finals</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:150px">&nbsp;</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><b>(3) Roco</b></td>
      <td class="rline tline bline bteam">67</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(2) Back at It</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(6) Super Soul</td>
      <td class="rline bline bteam">40</td>
      <td></td>
      <td class="lline bline bteam">(3) Roco</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>
<h1>Biden Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="0" style="width:780px;">
  <tbody>
    <tr>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">1st Round</td>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">Semis</td>
      <td style="width:30px;"></td>
      <td style="width:30px;"></td>
      <td></td>
      <td style="width:15px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(4) Each 1 Teach 1</td>
      <td class="rline tline bline bteam" width="15">41</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(1) ABC Hoopers</td>
      <td class="rline tline bline bteam" style="width:20px">56</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam"><b>(5) Del Harris</b></td>
      <td class="rline bline bteam">51</td>
      <td></td>
      <td class="lline bline bteam"><b>(5) Del Harris</b></td>
      <td class="rline bline bteam">62</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" style="width:200px;">Finals</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:150px">(5) Del Harris</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(6) Indie Team</td>
      <td class="rline bline bteam">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(3) Mad Flaskers</td>
      <td class="rline tline bline bteam">29</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(2) Pick &amp; Roll</td>
      <td class="rline tline bline bteam" width="15">56</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam"><b>(6) Indie Team</b></td>
      <td class="rline bline bteam">47</td>
      <td></td>
      <td class="lline bline bteam"><strong>(6) Indie Team</strong></td>
      <td class="rline bline bteam">61</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>