<h1>Gaudi Bracket</h1>
<br />
<div class="table-responsive bracket-container">
<table  class="playoff-bracket table" border="0" cellpadding="1" cellspacing="0">
  <colgroup>
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
  </colgroup>
  <tbody>
    <tr>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">1st Round</td>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">Semis</td>
      <td style="width:30px;"></td>
      <td style="width:30px;"></td>
      <td></td>
      <td style="width:15px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><b>(4) The Come Up</b></td>
      <td class="rline tline bline bteam" width="15">44</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(1) Death Row</td>
      <td class="rline tline bline bteam" style="width:20px">43</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) Deal Team 6</td>
      <td class="rline bline bteam">26</td>
      <td></td>
      <td class="lline bline bteam"><b>(4) The Come Up</b></td>
      <td class="rline bline bteam">48</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" style="width:200px;">Finals</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:150px">(4) The Come Up</td>
      <td class="rline tline bline bteam" width="15"></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam"></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(3) The McFlys</td>
      <td class="rline tline bline bteam">50</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(2) Grim Reapers</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam"><b>(6) Chiefs</b></td>
      <td class="rline bline bteam">57</td>
      <td></td>
      <td class="lline bline bteam">(6) Chiefs</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<h3>&nbsp;</h3>
<h1>Foster Bracket</h1>
<br />
<div class="table-responsive bracket-container">
<table class="playoff-bracket table" border="0" cellpadding="0" cellspacing="0">
  <colgroup>
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
  </colgroup>
  <tbody>
    <tr>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2">1st Round</td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2">Semis</td>
      <td style="width:20px;"></td>
      <td style="width:20px;">&nbsp;&nbsp;</td>
      <td style="width:20px;"></td>
      <td></td>
      <td style="width:20px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam" style="width:200px;"><b>(4) Mezzan and Main</b></td>
      <td class="rline tline bline bteam" style="width:20px;">45</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam" style="width:200px;">(1) Stuytown Warriors</td>
      <td class="rline tline bline bteam" style="width:20px;">36</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) Funky Fresh Boyz</td>
      <td class="rline bline bteam">43</td>
      <td></td>
      <td>&nbsp;</td>
      <td class="lline bline bteam"><b>(4) Mezzan and Main</b></td>
      <td class="rline bline bteam">59</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" width="300">Finals</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:200px;">(4) Mezzan and Main</td>
      <td class="rline tline bline bteam" style="width:20px;"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam">(3) Beltics</td>
      <td class="rline tline bline bteam" style="width:20px;">33</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam"><b>(6) Thunda</b></td>
      <td class="rline bline bteam">52</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam">(6) Thunda</td>
      <td class="rline tline bline bteam" style="width:20px;"></td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(2) The Pack</td>
      <td class="rline bline bteam">&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam"><b>(2) The Pack</b></td>
      <td class="rline tline bline bteam" style="width:20px;">W</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam">(7) Indie Team</td>
      <td class="rline bline bteam">F</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<h3>&nbsp;</h3>
<h1>Hadid Bracket</h1>
<br />
<div class="table-responsive bracket-container">
<table class="playoff-bracket table"  border="0" cellpadding="0" cellspacing="0">
  <colgroup>
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
  </colgroup>
  <tbody>
    <tr>
      <td style="width:20px;"></td>
      <td colspan="2">&nbsp;</td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2">Semis</td>
      <td style="width:20px;"></td>
      <td style="width:20px;">&nbsp;&nbsp;</td>
      <td style="width:20px;"></td>
      <td></td>
      <td style="width:20px;"></td>
    </tr>
    <tr>
      <td></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td class="lline bline tline bteam" style="width:200px;"><b>(2) Super Soul Sonics</b></td>
      <td class="rline tline bline bteam" style="width:20px;">98</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td></td>
      <td>&nbsp;</td>
      <td class="lline bline bteam">(5) Hodor</td>
      <td class="rline bline bteam">65</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" width="300">Finals</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:200px;">(2) Super Soul Sonics</td>
      <td class="rline tline bline bteam" style="width:20px;"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(1) Big Baller Brand</td>
      <td class="rline bline bteam"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam"><b>(1) Big Baller</b></td>
      <td class="rline tline bline bteam" style="width:20px;">W</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam">(6) The Accountants</td>
      <td class="rline bline bteam">F</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam"><b>(1) Big Baller Brand</b></td>
      <td class="rline tline bline bteam" style="width:20px;">33</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(4) Park Ball</td>
      <td class="rline bline bteam">32</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam">(3) OSEV Gang</td>
      <td class="rline tline bline bteam" style="width:20px;">F</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam"><b>(4) Park Ball</b></td>
      <td class="rline bline bteam">W</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<h3>&nbsp;</h3>