<h1>Nader Bracket</h1>
<br />
<table border="0" cellpadding="0" cellspacing="0" style="vertical-align:middle;" width="780">
  <tbody>
    <tr>
      <td style="width:20px;">&nbsp;</td>
      <td style="width:170px;"></td>
      <td style="width:30px;"></td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td style="width:170px;"></td>
      <td style="width:30px;"></td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td></td>
      <td style="width:30px;"></td>
      <td style="width:5px;"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam" style="width:200px;"><b>(4) Aussies</b></td>
      <td class="rline tline bline bteam" style="width:20px;">29</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam" style="width:200px;">(1) Ball-Playaz</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) 30 for 30</td>
      <td class="rline bline bteam">27</td>
      <td></td>
      <td></td>
      <td class="lline bline bteam">(4) Aussies</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" width="300">Finals</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:200px;">&nbsp;</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><b>(3) Dribbling</b></td>
      <td class="rline tline bline bteam" style="width:20px;">32</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(6) Flashdancers WD</td>
      <td class="rline bline bteam">20</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam">(3) Dribbling</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(2) WATEVA</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><b>(2) WATEVA</b></td>
      <td class="rline tline bline bteam" style="width:20px;">55</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(7) Beacon</td>
      <td class="rline bline bteam">40</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>
<h1>Perot Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="0" style="width:780px;">
  <tbody>
    <tr>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">1st Round</td>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">Semis</td>
      <td style="width:30px;"></td>
      <td style="width:30px;"></td>
      <td></td>
      <td style="width:15px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><b>(4) Indie 2</b></td>
      <td class="rline tline bline bteam" width="15">54</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam"><b>(1) Indie 1</b></td>
      <td class="rline tline bline bteam" style="width:20px">54</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) Knicka Rockas</td>
      <td class="rline bline bteam">44</td>
      <td></td>
      <td class="lline bline bteam">(4) Indie 2</td>
      <td class="rline bline bteam">39</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" style="width:200px;">Finals</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:150px">(1) Indie 2</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(2) Lou Amundson</td>
      <td class="rline bline bteam">&nbsp;</td>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline tline bteam"><b>(2) Lou Amundson</b></td>
      <td class="rline tline bline bteam" width="15">52</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline bteam">(3) Rubicon</td>
      <td class="rline bline bteam">51</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>