<h1>Frosted Flakes Bracket</h1>
<br />
<table width="780" border="0" cellspacing="1" cellpadding="1" style="veritcal-align:middle;">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td width="200">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td width="200">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td width="200">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2" width="160" class="time2">Semis - 10/25 - 5PM</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="bline">&nbsp;</td>
      <td class="lline bline bteam">(1) Toon Squad Sat</td>
      <td width="15" class="rline bline bteam">38</td>
      <td class="bline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td class="lline bline bteam"><strong>(4) Sharpshooters</strong></td>
      <td class="rline bline bteam">56</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td class="lline"><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td class="lline"><br /></td>
      <td><br /></td>
      <td><br /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2" class="time2">1st Round - 10/25 - 3PM</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="lline bline bteam"><strong>(4) Sharpshooters</strong></td>
      <td width="15" class="rline bline bteam">50</td>
      <td class="bline">&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="lline bline bteam">(5) Occupy John Wall Street</td>
      <td class="rline bline bteam">49</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td colspan="2" class="time2">Finals - 11/1 - 3PM</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline bline">&nbsp;</td>
      <td class="lline bline bteam">(4) Sharpshooters</td>
      <td width="15" class="rline bline bteam">30</td>
    </tr>
    <tr>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td class="lline"><br /></td>
      <td class="lline bline bteam"><strong>(2) Ray on the Roof</strong></td>
      <td class="rline bline bteam">43</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2" class="time2">Semis - 11/1 - 1PM</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="bline">&nbsp;</td>
      <td class="lline bline bteam"><strong>(2) Ray on the Roof</strong></td>
      <td width="15" class="rline bline bteam">49</td>
      <td class="bline">&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td class="lline bline bteam">(3) Boom</td>
      <td class="rline bline bteam">37</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td class="lline"><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2" class="time2">1st Round - 10/25 - 4PM</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="lline bline bteam"><strong>(3) Boom</strong></td>
      <td width="15" class="rline bline bteam">44</td>
      <td class="bline">&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="lline bline bteam">(6) Uncle Mike's Crew</td>
      <td class="rline bline bteam">23</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>
<h1>Captain Crunch Bracket</h1>
<br />
<table width="780" border="0" cellspacing="1" cellpadding="1" style="veritcal-align:middle;">
  <tbody>
    <tr>
      <td>&nbsp;</td>
      <td width="200">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td width="200">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td width="200">&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2" width="160" class="time2">Semis - 11/1 - 6PM</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="bline">&nbsp;</td>
      <td class="lline bline bteam"><strong>(1) Brooklyn's Finest</strong></td>
      <td width="15" class="rline bline bteam">35</td>
      <td class="bline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td class="lline bline bteam">(4) Mambas</td>
      <td class="rline bline bteam">32</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td class="lline"><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td class="lline"><br /></td>
      <td><br /></td>
      <td><br /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2" class="time2">1st Round - 11/1 - 5PM</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="lline bline bteam"><strong>(4) Mambas</strong></td>
      <td width="15" class="rline bline bteam">68</td>
      <td class="bline">&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="lline bline bteam">(5) The Monstars</td>
      <td class="rline bline bteam">46</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td colspan="2" class="time2">Finals</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline bline">&nbsp;</td>
      <td class="lline bline bteam">(1) Brooklyn's Finest</td>
      <td width="15" class="rline bline bteam">&nbsp;</td>
    </tr>
    <tr>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td class="lline"><br /></td>
      <td class="lline bline bteam">(3) Los Pollos Hermanos</td>
      <td class="rline bline bteam">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td colspan="2" class="time2">Semis - 11/1 - 4PM</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="bline">&nbsp;</td>
      <td class="lline bline bteam">(2) Mangy Dawgs</td>
      <td width="15" class="rline bline bteam">31</td>
      <td class="bline">&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td class="lline bline bteam"><strong>(3) Los Pollos Hermanos</strong></td>
      <td class="rline bline bteam">35</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td class="lline"><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
      <td><br /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="2" class="time2">1st Round - 11/1 - 2PM</td>
      <td>&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="lline bline bteam"><strong>(3) Los Pollos Hermanos</strong></td>
      <td width="15" class="rline bline bteam">46</td>
      <td class="bline">&nbsp;</td>
      <td class="lline">&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="lline bline bteam">(6) Hand Down Man Down</td>
      <td class="rline bline bteam">38</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>