<h1>South Carolina Bracket</h1>
<br />
<table border="0" cellpadding="0" cellspacing="0" style="veritcal-align:middle;" width="780">
  <tbody>
    <tr>
      <td style="width:20px;">&nbsp;</td>
      <td style="width:170px;"></td>
      <td style="width:30px;"></td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td style="width:170px;"></td>
      <td style="width:30px;"></td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td></td>
      <td style="width:30px;"></td>
      <td style="width:5px;"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam" style="width:200px;">(4) Rubicon</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam" style="width:200px;">(1) WATEVA</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) MKG</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" width="300">Finals</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:200px;">&nbsp;</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(3) Good D</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(6) Cash</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam">&nbsp;</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(2) Renegades</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(7) Indie</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>
<h1>Louisiana Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="0" width="780">
  <tbody>
    <tr>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2" style="width:170px;">Play-In</td>
      <td style="width:15px;"></td>
      <td class="time2" colspan="2">1st Round</td>
      <td style="width:15px;"></td>
      <td style="width:15px;"></td>
      <td></td>
      <td style="width:20px;"></td>
      <td style="width:15px;"></td>
      <td style="width:15px;"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(8) Pippen</td>
      <td class="rline tline bline bteam">38</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam" style="width:140px">(1) Heat Check</td>
      <td class="rline tline bline bteam" style="width:20px">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam"><b>(9) Assembly Men</b></td>
      <td class="rline bline bteam">48</td>
      <td></td>
      <td class="lline bline bteam">(9) Assembly Men</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:150px">&nbsp;</td>
      <td class="rline tline bline bteam" style="width:20px">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline tline bteam">(4) 31 for 31</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline bteam">(5) Flashdancers</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" width="170">Finals</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:130px">&nbsp;</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline tline bteam">(3) Aussies</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline bteam">(6) Beacon</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam">&nbsp;</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">Play-In</td>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><b>(7) Lou Amundson</b></td>
      <td class="rline tline bline bteam">39</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(2) CPHM</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(10) HomeAdvisor</td>
      <td class="rline bline bteam">28</td>
      <td></td>
      <td class="lline bline bteam">(7) Lou Amundson</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>