<h1>Playoff Bracket</h1>
<br />
<table border="0" cellpadding="0" cellspacing="0" width="780" style="veritcal-align:middle;">
	<tbody>
		<tr>
			<td style="width:35px;"></td>
			<td class="time2" colspan="2">1st Round - 11/12 - 9PM</td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
			<td></td>
			<td></td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
			<td></td>
			<td></td>
			<td style="width:20px;"></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam" style="width:200px;"><strong>(1) Houlie Hoopers</strong></td>
			<td class="rline tline bline bteam" style="width:20px;">75</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(8) Flashdancers WD</td>
			<td class="rline bline bteam">48</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2">Semis - 11/19 - 7PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline tline bteam" style="width:200px;"><strong>(1) Houlie Hoopers</strong></td>
			<td class="rline tline bline bteam" style="width:20px;">67</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(5) Indie Fall '14 WD</td>
			<td class="rline bline bteam">48</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 11/5 - 9PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam">(4) Wendell's Poppers</td>
			<td class="rline tline bline bteam" style="width:20px;">37</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam"><strong>(5) Indie Fall '14 WD</strong></td>
			<td class="rline bline bteam">38</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2" width="300">Finals - 11/19 - 9PM</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline tline bteam" style="width:200px;">(1) Houlie Hoopers</td>
			<td class="rline tline bline bteam" style="width:20px;">38</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam"><strong>(2) Turcon Dumptrucks</strong></td>
			<td class="rline bline bteam">50</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 11/12 - 8PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam"><strong>(3) Thorough Bread</strong></td>
			<td class="rline tline bline bteam" style="width:20px;">54</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(6) Space Jam</td>
			<td class="rline bline bteam">41</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2">Semis - 11/19 - 8PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline tline bteam">(3) Thorough Bread</td>
			<td class="rline tline bline bteam" style="width:20px;">44</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam"><strong>(2) Turcon Dumptrucks</strong></td>
			<td class="rline bline bteam">60</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 11/12 - 7PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam"><strong>(2) Turcon Dumptrucks</strong></td>
			<td class="rline tline bline bteam" style="width:20px;">54</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(7) City Multi</td>
			<td class="rline bline bteam">20</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<h3>&nbsp;</h3>