<h1>Corn Pops Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="1" width="780" style="veritcal-align:middle;">
	<tbody>
		<tr>
			<td style="width:35px;"></td>
			<td style="width:200px;">&nbsp;</td>
			<td style="width:20px;">&nbsp;</td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
			<td style="width:200px;"></td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
			<td style="width:200px !important;"></td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2">Semis</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="bline"></td>
			<td class="lline bline bteam">(1) Blankmen</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">Winner of 7PM Game</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 11/9 - 7PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(4) Fulton Heat</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(5) Wrecking Ballers</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2">Finals</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline bteam">&nbsp;</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">&nbsp;</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 10/26 - 7PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline  bteam">(3) Butterbuckets</td>
			<td class="rline bline bteam" >41</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam"><strong>(6) Real Ready</strong></td>
			<td class="rline bline bteam">48</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2">Semis - 11/9 - 8PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline bteam">(6) Real Ready</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(2) bAll Stars</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 10/26 - 1PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam"><strong>(2) bAll Stars</strong></td>
			<td class="rline bline bteam" >39</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(7) Hoopz Zone</td>
			<td class="rline bline bteam">31</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<h3>&nbsp;</h3>
<h1>Cheerios Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="1" width="780" style="veritcal-align:middle;">
	<tbody>
		<tr>
			<td style="width:35px;"></td>
			<td style="width:200px;">&nbsp;</td>
			<td style="width:20px;">&nbsp;</td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
			<td style="width:200px;"></td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
			<td style="width:200px !important;"></td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2">Semis - 11/9 - 3:15PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="bline"></td>
			<td class="lline bline bteam">(1) The Come Up</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">&nbsp;</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 11/9 - 2PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(4) Big State</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(5) Show Stoppers</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2">Finals</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline bteam">&nbsp;</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">&nbsp;</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 11/9 - 12PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline  bteam">(2) Live or Die</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(6) Driving Force</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2">Semis - 11/9 - 1:15PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline bteam">&nbsp;</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">&nbsp;</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 11/9 - 11AM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(3) Asphalt Ninjas</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(7) Mahattan Pride</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<h3>&nbsp;</h3>
<h1>Raisin Bran Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="1" width="780" style="veritcal-align:middle;">
	<tbody>
		<tr>
			<td style="width:35px;"></td>
			<td style="width:200px;">&nbsp;</td>
			<td style="width:20px;">&nbsp;</td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
			<td style="width:200px;"></td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
			<td style="width:200px !important;"></td>
			<td style="width:20px;"></td>
			<td style="width:20px;"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2">Semis - 11/9 - 5PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="bline"></td>
			<td class="lline bline bteam">(1) Str8 Skills</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(5) Swoosh</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 10/26 - 12PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(4) The Mad Flaskers</td>
			<td class="rline bline bteam">42</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam"><strong>(5) Swoosh</strong></td>
			<td class="rline bline bteam">46</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2">Finals</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline bteam">&nbsp;</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">&nbsp;</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 11/9 - 4PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline  bteam">(3) Hodor</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(6) Orange Crush</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2">Semis - 11/9 - 6PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline bteam">Winner of 4PM Game</td>
			<td class="rline bline bteam" >&nbsp;</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(2) Monday</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 10/26 - 3PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam"><strong>(2) Monday</strong></td>
			<td class="rline bline bteam" >68</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(7) #BallisLife</td>
			<td class="rline bline bteam">57</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<h3>&nbsp;</h3>