<h1>Giuliani Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="0" style="width:780px;">
  <tbody>
    <tr>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">1st Round</td>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">Semis</td>
      <td style="width:30px;"></td>
      <td style="width:30px;"></td>
      <td></td>
      <td style="width:15px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(4) Lake Minnetonka</td>
      <td class="rline tline bline bteam" width="15"></td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(1) Boom</td>
      <td class="rline tline bline bteam" style="width:20px"></td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) Uncle Mike</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td class="lline bline bteam"></td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" style="width:200px;">Finals</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:150px">&nbsp;&nbsp;</td>
      <td class="rline tline bline bteam" width="15"></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;&nbsp;</td>
      <td class="rline bline bteam"></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(3) Justice League</td>
      <td class="rline tline bline bteam"></td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(2) Pick &amp; Roll a J</td>
      <td class="rline tline bline bteam" width="15"></td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(6) Mark&#39;s Team</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td class="lline bline bteam"></td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>
<h1>LaGuardia Bracket</h1>
<br />
<table border="0" cellpadding="0" cellspacing="0" width="780">
  <tbody>
    <tr>
      <td width="20px"></td>
      <td class="time2" colspan="2" width="170">1st Round</td>
      <td width="15px"></td>
      <td class="time2" colspan="2" width="170">2nd Round</td>
      <td width="15px"></td>
      <td width="15px"></td>
      <td width="150px"></td>
      <td></td>
      <td width="15px"></td>
      <td width="15px"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(8) Los Pollos</td>
      <td class="rline tline bline bteam"></td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(1) Mambas</td>
      <td class="rline tline bline bteam" width="15"></td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(9) Scrubz</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td class="lline bline bteam"></td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" width="140">Semis</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam">&nbsp;</td>
      <td class="rline tline bline bteam" width="15"></td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="time2" colspan="2">2nd Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline tline bteam">(4) Shut Em</td>
      <td class="rline tline bline bteam" width="15"></td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline bteam">(5) BK&#39;s Finest</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" width="140">Finals</td>
      <td class="time2" width="15"></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam"><b>&nbsp;</b></td>
      <td class="rline tline bline bteam" width="15"></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam"></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="time2" colspan="2">2nd Round</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><strong>(7) The Land</strong></td>
      <td class="rline tline bline bteam">42</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(2) Ray On The Roof</td>
      <td class="rline tline bline bteam" width="15"></td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(10) The Grinders</td>
      <td class="rline bline bteam">40</td>
      <td></td>
      <td class="lline bline bteam">(7) The Land</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam">&nbsp;</td>
      <td class="rline tline bline bteam" width="15"></td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="time2" colspan="2">2nd Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(6) Manhattan Pride</td>
      <td class="rline tline bline bteam"></td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(3) EBF</td>
      <td class="rline tline bline bteam" width="15"></td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(11) Deep Squat</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td class="lline bline bteam"></td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>
<h1>Van Wych Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="0" style="width:780px;">
  <tbody>
    <tr>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">1st Round</td>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">Semis</td>
      <td style="width:30px;"></td>
      <td style="width:30px;"></td>
      <td></td>
      <td style="width:15px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(4) Brick Layers</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(1) Sharpshooters</td>
      <td class="rline tline bline bteam" style="width:20px">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) Toon Squad</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline bline bteam"></td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" style="width:200px;">Finals</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:150px"><b>&nbsp;</b></td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(3) The Monstars</td>
      <td class="rline tline bline bteam">&nbsp;</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(2) Indie Team</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(6) Occupy John Wall</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>