<h1><a name="bracket" id="bracket"></a>The Dream Bracket</h1>
<br />
<div class="table-responsive bracket-container">
<table class="playoff-bracket table" border="0" cellpadding="0" cellspacing="0" width="800">
	<tbody>
		<tr>
			<td></td>
			<td width="170"></td>
			<td></td>
			<td></td>
			<td></td>
			<td width="170"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2" width="170">Semis - 3/12 - 8:45PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="bline"></td>
			<td class="lline bline tline bteam"><b>(1) Sons of Men</b></td>
			<td class="rline tline bline bteam" width="20">56</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(4) Thorough Bread</td>
			<td class="rline bline bteam">35</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 2/26 - 9:45PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam"><strong>(4) Thorough Bread</strong></td>
			<td class="rline tline bline bteam" width="20">58</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(5) Indie Team</td>
			<td class="rline bline bteam">48</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" width="170">Finals - 3/12 - 9:45PM</td>
			<td class="time2" width="20"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline tline bteam"><b>(1) Sons of Men</b></td>
			<td class="rline tline bline bteam" width="20">70</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(7) Orphans</td>
			<td class="rline bline bteam">62</td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 3/5 - 7:45PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam">(3) Ponzi Schemers</td>
			<td class="rline tline bline bteam" width="20">42</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam"><strong>(6) Ball So Hard</strong></td>
			<td class="rline bline bteam">72</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2">Semis - 3/12 - 7:45PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline tline bteam">(6) Ball So Hard</td>
			<td class="rline tline bline bteam" width="20">31</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam"><b>(7) Orphans</b></td>
			<td class="rline bline bteam">41</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 3/5 - 9:45PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam">(2) Houlie Hoopers</td>
			<td class="rline tline bline bteam" width="20">44</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam"><strong>(7) Orphans</strong></td>
			<td class="rline bline bteam">45</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>
<h3>&nbsp;</h3>
<h1>T-Mac Bracket</h1>
<br />
<div class="table-responsive bracket-container">
<table class="playoff-bracket table" border="0" cellpadding="0" cellspacing="0">
	<tbody>
		<tr>
			
			<td></td>
			<td width="20"></td>
			<td width="20"></td>
			<td></td>
			<td></td>
			<td width="20"></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td width="230px" class="time2" colspan="2">Semis - 3/5 - 8:45PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td class="lline bline tline">(1) Napoleon Complex</td>
			<td class="rline tline bline" width="20">38</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td class="lline bline"><strong>(4) Wendell&#39;s Poppers</strong></td>
			<td class="rline bline">43</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td class="lline" width="20"></td>
			<td width="250px" class="time2" colspan="2">T-Mac Finals - 3/12 - 6:45PM</td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline tline bteam"><b>(4) Wendell's Poppers</b></td>
			<td class="rline tline bline" width="20">40</td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline">(3) Greg Offerpopovich</td>
			<td class="rline bline">37</td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td class="time2" colspan="2">Semis - 3/5 - 6:45PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td class="lline bline tline">(2) Percolators</td>
			<td class="rline tline bline" width="20">35</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td class="lline bline bteam"><strong>(3) Greg Offerpopovich</strong></td>
			<td class="rline bline bteam">47</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
</div>