<h1>Maybach Bracket</h1>
<br />
<div class="table-responsive bracket-container">
<table class="playoff-bracket table 8-team-bracket"  border="0" cellpadding="0" cellspacing="0">
  <colgroup>
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
  </colgroup>
  <tbody>
    <tr>
      <td style="width:20px;">&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td></td>
      <td></td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td></td>
      <td></td>
      <td style="width:20px;"></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam" style="width:200px;"><b>(1) Mambas</b></td>
      <td class="rline tline bline bteam" style="width:20px;">48</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam">(8) Bride or Die</td>
      <td class="rline bline bteam">42</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:200px;"><b>(1) Mambas</b></td>
      <td class="rline tline bline bteam" style="width:20px;">49</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(5) Blue Devils</td>
      <td class="rline bline bteam">43</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam">(4) No Easy Buckets</td>
      <td class="rline tline bline bteam" style="width:20px;">57</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam"><b>(5) Blue Devils</b></td>
      <td class="rline bline bteam">59</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" width="300">Finals</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:200px;"><b>(1) Mambas</b></td>
      <td class="rline tline bline bteam" style="width:20px;">57</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(6) 01 Lakers</td>
      <td class="rline bline bteam">51</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam">(3) Uncle Mike's Crew</td>
      <td class="rline tline bline bteam" style="width:20px;">54</td>
      <td class="bline"></td>
      <td></td>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam"><b>(6) 01 Lakers</b></td>
      <td class="rline bline bteam">76</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam"><b>(6) 01 Lakers</b></td>
      <td class="rline tline bline bteam" style="width:20px;">73</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(2) Occupy John Wall St.</td>
      <td class="rline bline bteam">59</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam"><b>(2) Occupy John Wall St.</b></td>
      <td class="rline tline bline bteam" style="width:20px;">W</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam">(7) Toon Squad</td>
      <td class="rline bline bteam">F</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<h3>&nbsp;</h3>
<h1>Audi Bracket</h1>
<br />
<div class="table-responsive bracket-container">
<table class="playoff-bracket table 7-team" border="0" cellpadding="0" cellspacing="0">
  <colgroup>
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
    <col span='1' width="1%">
    <col span='1' width="20%">
    <col span='1' width="3%">
    <col span='1' width="1%">
  </colgroup>
  <tbody>
    <tr>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2">1st Round</td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2">Semis</td>
      <td style="width:20px;"></td>
      <td style="width:20px;">&nbsp;&nbsp;</td>
      <td style="width:20px;"></td>
      <td></td>
      <td style="width:20px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam" style="width:200px;"><b>(4) Big Tex</b></td>
      <td class="rline tline bline bteam" style="width:20px;">66</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam" style="width:200px;">(1) The Expendables</td>
      <td class="rline tline bline bteam" style="width:20px;">39</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) New Born Kingz</td>
      <td class="rline bline bteam">35</td>
      <td></td>
      <td>&nbsp;</td>
      <td class="lline bline bteam"><b>(4) Big Tex</b></td>
      <td class="rline bline bteam">52</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" width="300">Finals</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:200px;">(4) Big Tex</td>
      <td class="rline tline bline bteam" style="width:20px;">53</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam">(3) Rock, Paper, Scissors</td>
      <td class="rline tline bline bteam" style="width:20px;">61</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam"><b>(6) Ray on the Roof</b></td>
      <td class="rline bline bteam">56</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam"><b>(6) Ray on the Roof</b></td>
      <td class="rline bline bteam">70</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam"><b>(6) Ray on the Roof</b></td>
      <td class="rline tline bline bteam" style="width:20px;">63</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(2) Past Our Prime 1</td>
      <td class="rline bline bteam">44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>

    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam"><b>(2) Past Our Prime 1</b></td>
      <td class="rline tline bline bteam" style="width:20px;">53</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam">(7) Boom</td>
      <td class="rline bline bteam">48</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>
<h3>&nbsp;</h3>