<h1>Pippen Bracket</h1>
<br />
<table border="0" cellpadding="0" cellspacing="0" style="veritcal-align:middle;" width="780">
  <tbody>
    <tr>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2">1st Round</td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2">Semis</td>
      <td style="width:20px;"></td>
      <td style="width:20px;">&nbsp;&nbsp;</td>
      <td style="width:20px;"></td>
      <td></td>
      <td style="width:20px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam" style="width:200px;">(4) Yorkvillains</td>
      <td class="rline tline bline bteam" style="width:20px;">49</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam" style="width:200px;">(1) John Wall St.</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) Los Pollos</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td>&nbsp;</td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" width="300">Finals</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:200px;">&nbsp;</td>
      <td class="rline tline bline bteam" style="width:20px;"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam"></td>
      <td class="rline bline bteam"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam">(3) Mambas</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam">(6) Big Tex</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam">&nbsp;</td>
      <td class="rline tline bline bteam" style="width:20px;"></td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam">(2) Blue Chips</td>
      <td class="rline tline bline bteam" style="width:20px;">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam">(7) Toon Squad</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>
<h1>Winter Bracket</h1>
<br />
<table border="0" cellpadding="0" cellspacing="0" style="veritcal-align:middle;" width="780">
  <tbody>
    <tr>
      <td style="width:20px;">&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td></td>
      <td></td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td></td>
      <td></td>
      <td style="width:20px;"></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam" style="width:200px;">(1) Replacements</td>
      <td class="rline tline bline bteam" style="width:20px;"></td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam">(8) Peaked in HS</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:200px;"></td>
      <td class="rline tline bline bteam" style="width:20px;"></td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(4) Shut 'Em Down</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam"><b>(4) Shut 'Em Down</b></td>
      <td class="rline tline bline bteam" style="width:20px;">50</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam">(5) Ballz Deep</td>
      <td class="rline bline bteam">37</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" width="300">Finals</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:200px;"></td>
      <td class="rline tline bline bteam" style="width:20px;"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td>&nbsp;&nbsp;</td>
      <td class="lline"></td>
      <td class="lline bline bteam"></td>
      <td class="rline bline bteam"></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam">(3) Health &amp; Science</td>
      <td class="rline tline bline bteam" style="width:20px;"></td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam">(6) Uncle Mike's</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam"></td>
      <td class="rline tline bline bteam" style="width:20px;"></td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam"></td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline tline bteam">(2) The Dementors</td>
      <td class="rline tline bline bteam" style="width:20px;"></td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td class="lline bline bteam">(7) Ray on the Roof</td>
      <td class="rline bline bteam"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>
<h1>Jackson Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="0" style="width:780px;">
  <tbody>
    <tr>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">1st Round</td>
      <td style="width:30px;"></td>
      <td class="time2" colspan="2" style="width:200px;">Semis</td>
      <td style="width:30px;"></td>
      <td style="width:30px;"></td>
      <td></td>
      <td style="width:15px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(4) Really Ref?</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(1) Indie 1</td>
      <td class="rline tline bline bteam" style="width:20px">&nbsp;</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(5) Jimmy Buckets</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" style="width:200px;">Finals</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:150px">&nbsp;</td>
      <td class="rline tline bline bteam" width="15"></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">&nbsp;</td>
      <td class="rline bline bteam"></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(3) Flying Squirrels</td>
      <td class="rline tline bline bteam">&nbsp;</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(2) Trust the Process</td>
      <td class="rline tline bline bteam" width="15">&nbsp;</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(6) The Monstars</td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td class="lline bline bteam"><b>&nbsp;</b></td>
      <td class="rline bline bteam">&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>