<h1>Daly Bracket</h1>
<br />
<table border="0" cellpadding="1" cellspacing="0" style="width:780px;">
  <tbody>
    <tr>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2" style="width:200px;">1st Round</td>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2" style="width:200px;">Semis</td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td></td>
      <td style="width:15px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(4) Brotherhood</td>
      <td class="rline tline bline bteam" width="15">46</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam"><b>(1) Death Row</b></td>
      <td class="rline tline bline bteam" style="width:20px">52</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam"><strong>(5) Big State</strong></td>
      <td class="rline bline bteam">58</td>
      <td></td>
      <td class="lline bline bteam">(5) Big State</td>
      <td class="rline bline bteam">50</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" style="width:200px;">Finals</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:150px"><b>(1) Death Row</b></td>
      <td class="rline tline bline bteam" width="15">69</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(3) The Come Up</td>
      <td class="rline bline bteam">61</td>
    </tr>
    <tr>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><strong>(3) The Come Up</strong></td>
      <td class="rline tline bline bteam">83</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam">(2) Chiefs</td>
      <td class="rline tline bline bteam" width="15">54</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(6) Back to the Future</td>
      <td class="rline bline bteam">56</td>
      <td></td>
      <td class="lline bline bteam"><b>(3) The Come Up</b></td>
      <td class="rline bline bteam">62</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>
<h1>Adelman Bracket</h1>
<br />
<table border="0" cellpadding="0" cellspacing="0" width="780">
  <tbody>
    <tr>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2">Play-In</td>
      <td style="width:20px;"></td>
      <td class="time2" colspan="2" width="130">1st Round</td>
      <td style="width:10px;"></td>
      <td style="width:10px;"></td>
      <td></td>
      <td></td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam" style="width:150px;"><strong>(8) Cunjaks</strong></td>
      <td class="rline tline bline bteam" style="width:20px;">59</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam"><strong>(1) Expendables</strong></td>
      <td class="rline tline bline bteam" width="15">W</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(9) Dream Team</td>
      <td class="rline bline bteam">50&nbsp;</td>
      <td></td>
      <td class="lline bline bteam">(8) Cunjaks</td>
      <td class="rline bline bteam"><em>F</em></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam"><b>(1) Expendables</b></td>
      <td class="rline tline bline bteam" width="15">56</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(5) Cold Brew</td>
      <td class="rline bline bteam">54</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td colspan="1"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline tline bteam">(4) Indie</td>
      <td class="rline tline bline bteam" width="15">41</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline bteam"><b>(5) Cold Brew</b></td>
      <td class="rline bline bteam">54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" width="150">Finals</td>
      <td class="time2" width="15"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam"><b>(1) Expendables</b></td>
      <td class="rline tline bline bteam" width="15">53</td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(3) Super Soul</td>
      <td class="rline bline bteam">42</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline tline bteam"><b>(3) Super Soul</b></td>
      <td class="rline tline bline bteam" width="15">58</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline bteam">(6) #BallisLife</td>
      <td class="rline bline bteam">51</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam"><b>(3) Super Soul</b></td>
      <td class="rline tline bline bteam" width="15">56</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam">(2) Hodor</td>
      <td class="rline bline bteam">44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline tline bteam"><b>(2) Hodor</b></td>
      <td class="rline tline bline bteam" width="15">63</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline bteam">(7) Butterbuckets</td>
      <td class="rline bline bteam">54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>
<h1>Bavetta Bracket</h1>
<br />
<table border="0" cellpadding="0" cellspacing="0" style="veritcal-align:middle;" width="780">
  <tbody>
    <tr>
      <td style="width:20px;">&nbsp;</td>
      <td class="time2" colspan="2">1st Round</td>
      <td style="width:30px;"></td>
      <td style="width:20px;"></td>
      <td style="width:170px; "class="time2" colspan="2">Semis</td>
      <td style="width:20px;"></td>
      <td style="width:20px;"></td>
      <td></td>
      <td style="width:30px;"></td>
      <td style="width:5px;"></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam" style="width:200px;">(2) Back At It</td>
      <td class="rline tline bline bteam" style="width:20px;">49</td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td style="border-bottom: 1px dashed #c0c0c0;"></td>
      <td class="lline bline tline bteam" style="width:200px;">(1) Mad Flaskers</td>
      <td class="rline tline bline bteam" style="width:20px;">36</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam"><b>(7) Coastal Beef</b></td>
      <td class="rline bline bteam">54</td>
      <td></td>
      <td></td>
      <td class="lline bline bteam"><b>(7) Coastal Beef</b></td>
      <td class="rline bline bteam">42</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp; &nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2" width="300">Finals</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam" style="width:200px;">(7) Coastal Beef</td>
      <td class="rline tline bline bteam" style="width:20px;">26</td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam"><b>(5) Easy Money</b></td>
      <td class="rline bline bteam">30</td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td></td>
      <td>&nbsp;&nbsp;</td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam"><strong>(3) Ginyu</strong></td>
      <td class="rline tline bline bteam" style="width:20px;">39</td>
      <td class="bline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam">(6) Backdoor</td>
      <td class="rline bline bteam">34</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="time2" colspan="2">Semis</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline bline"></td>
      <td class="lline bline tline bteam">(3) Ginyu</td>
      <td class="rline tline bline bteam" style="width:20px;">37</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td></td>
      <td></td>
      <td></td>
      <td class="lline"></td>
      <td class="lline bline bteam"><b>(5) Easy Money</b></td>
      <td class="rline bline bteam">44</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="time2" colspan="2">1st Round</td>
      <td></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline tline bteam">(4) Sweet Lou</td>
      <td class="rline tline bline bteam" style="width:20px;">44</td>
      <td class="bline"></td>
      <td class="lline"></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr>
      <td></td>
      <td class="lline bline bteam"><strong>(5) Easy Money</strong></td>
      <td class="rline bline bteam">54</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>
<h3>&nbsp;</h3>