<h1>House Targaryen Bracket</h1>
<br />
<div class="table-responsive bracket-container">
<table class="playoff-bracket 10-team-bracket table" border="0" cellpadding="1" cellspacing="0">
    <colgroup>
      <col span='1' width="1%">
      <col span='1' width="18%">
      <col span='1' width="3%">
      <col span='1' width="1%">
      <col span='1' width="18%">
      <col span='1' width="3%">
      <col span='1' width="1%">
      <col span='1' width="1%">
      <col span='1' width="18%">
      <col span='1' width="3%">
      <col span='1' width="1%">
      <col span='1' width="1%">
      <col span='1' width="18%">
      <col span='1' width="3%">
      <col span='1' width="1%">
    </colgroup>
    <tbody>
      <tr>
        <td style="width:20px;"></td>
        <td class="time2" colspan="2" style="width:170px;">Play-In</td>
        <td style="width:15px;"></td>
        <td class="time2" colspan="2">1st Round</td>
        <td style="width:15px;"></td>
        <td style="width:15px;"></td>
        <td></td>
        <td style="width:20px;"></td>
        <td style="width:15px;"></td>
        <td style="width:15px;"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline tline bteam"><b>(8) Heights Finest</b></td>
        <td class="rline tline bline bteam">63</td>
        <td style="border-bottom: 1px dashed #c0c0c0;"></td>
        <td class="lline bline tline bteam" style="width:140px"><b>(1) Chiefs</b></td>
        <td class="rline tline bline bteam" style="width:20px">55</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline bteam">(9) Death Row</td>
        <td class="rline bline bteam">60</td>
        <td></td>
        <td class="lline bline bteam">(8) Heights Finest</td>
        <td class="rline bline bteam">49</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2">Semis</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline"></td>
        <td class="lline bline tline bteam" style="width:150px">(1) Chiefs</td>
        <td class="rline tline bline bteam" style="width:20px">45</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam"><b>(5) Average Joes</b></td>
        <td class="rline bline bteam">55</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td class="lline"></td>
        <td>&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline tline bteam">(4) The McFlys</td>
        <td class="rline tline bline bteam" width="15">58</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline bteam"><b>(5) Average Joes</b></td>
        <td class="rline bline bteam">62</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2" width="170">Finals</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline">&nbsp;</td>
        <td class="lline bline tline bteam" style="width:130px">(5) Average Joes</td>
        <td class="rline tline bline bteam" width="15">54</td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam"><b>(2) Asphalt Ninjas</b></td>
        <td class="rline bline bteam">63</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline tline bteam"><b>(3) Shootout Squad</b></td>
        <td class="rline tline bline bteam" width="15">50</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline bteam">(6) Polite Ballers</td>
        <td class="rline bline bteam">47</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2">Semis</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline"></td>
        <td class="lline bline tline bteam">(3) Shootout Squad</td>
        <td class="rline tline bline bteam" width="15">53</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam"><b>(2) Asphalt Ninjas</b></td>
        <td class="rline bline bteam">64</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline tline bteam"><b>(2) Asphalt Ninjas</b></td>
        <td class="rline tline bline bteam" width="15">76</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline bteam">(7) Hewlett Hawks</td>
        <td class="rline bline bteam">44</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
</table>
</div>
<h3>&nbsp;</h3>
<h1>House Baratheon Bracket</h1>
<br />
<div class="table-responsive bracket-container">
<table class="playoff-bracket 10-team-bracket table" border="0" cellpadding="1" cellspacing="0">
    <colgroup>
      <col span='1' width="1%">
      <col span='1' width="18%">
      <col span='1' width="3%">
      <col span='1' width="1%">
      <col span='1' width="18%">
      <col span='1' width="3%">
      <col span='1' width="1%">
      <col span='1' width="1%">
      <col span='1' width="18%">
      <col span='1' width="3%">
      <col span='1' width="1%">
      <col span='1' width="1%">
      <col span='1' width="18%">
      <col span='1' width="3%">
      <col span='1' width="1%">
    </colgroup>
    <tbody>
      <tr>
        <td style="width:20px;"></td>
        <td class="time2" colspan="2" style="width:170px;">Play-In</td>
        <td style="width:15px;"></td>
        <td class="time2" colspan="2">1st Round</td>
        <td style="width:15px;"></td>
        <td style="width:15px;"></td>
        <td></td>
        <td style="width:20px;"></td>
        <td style="width:15px;"></td>
        <td style="width:15px;"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline tline bteam">(8) Rich-what, Richmond</td>
        <td class="rline tline bline bteam">49</td>
        <td style="border-bottom: 1px dashed #c0c0c0;"></td>
        <td class="lline bline tline bteam" style="width:140px"><b>(1) BKB</b></td>
        <td class="rline tline bline bteam" style="width:20px">58</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline bteam"><b>(9) Cornhuskers Rising</b></td>
        <td class="rline bline bteam">54</td>
        <td></td>
        <td class="lline bline bteam">(9) Cornhuskers Rising</td>
        <td class="rline bline bteam">56</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2">Semis</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline"></td>
        <td class="lline bline tline bteam" style="width:150px"><b>(1) BKB</b></td>
        <td class="rline tline bline bteam" style="width:20px">67</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam">(4) The Monstars</td>
        <td class="rline bline bteam">50</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td class="lline"></td>
        <td>&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline tline bteam"><b>(4) The Monstars</b></td>
        <td class="rline tline bline bteam" width="15">43</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline bteam">(5) Super Soul Sonics</td>
        <td class="rline bline bteam">40</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2" width="170">Finals</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline">&nbsp;</td>
        <td class="lline bline tline bteam" style="width:130px"><b>(1) BKB</b></td>
        <td class="rline tline bline bteam" width="15">51</td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam">(7) Thankyouuuu</td>
        <td class="rline bline bteam">47</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline tline bteam"><b>(3) Stuy Town Warriors 2</b></td>
        <td class="rline tline bline bteam" width="15">55</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline bteam">(6) SkipThruDatLane</td>
        <td class="rline bline bteam">53</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2">Semis</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline"></td>
        <td class="lline bline tline bteam">(3) Stuy Town Warriors 2</td>
        <td class="rline tline bline bteam" width="15">56</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam"><b>(7) Thankyouuuu</b></td>
        <td class="rline bline bteam">57</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="time2" colspan="2">Play-In</td>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline tline bteam"><b>(7) Thankyouuuu</b></td>
        <td class="rline tline bline bteam">62</td>
        <td style="border-bottom: 1px dashed #c0c0c0;"></td>
        <td class="lline bline tline bteam">(2) Hodor</td>
        <td class="rline tline bline bteam" width="15">35</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline bteam">(10) Underdogs</td>
        <td class="rline bline bteam">30</td>
        <td></td>
        <td class="lline bline bteam"><b>(7) Thankyouuuu</b></td>
        <td class="rline bline bteam">54</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
</table>
</div>
<h3>&nbsp;</h3>