  <h1>Barkley Bracket</h1><br>
  <table border="0" cellpadding="1" cellspacing="0" width="780">
    <tbody>
      <tr>
        <td style="width:20px;"></td>
        <td class="time2" colspan="2" style="width:170px;">Play-In</td>
        <td style="width:15px;"></td>
        <td class="time2" colspan="2">1st Round</td>
        <td style="width:15px;"></td>
        <td style="width:15px;"></td>
        <td></td>
        <td style="width:20px;"></td>
        <td style="width:15px;"></td>
        <td style="width:15px;"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline tline bteam">(8) Park Ball</td>
        <td class="rline tline bline bteam">51</td>
        <td style="border-bottom: 1px dashed #c0c0c0;"></td>
        <td class="lline bline tline bteam" style="width:140px"><b>(1) Death Row</b></td>
        <td class="rline tline bline bteam" style="width:20px">72</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline bteam"><b>(9) Dizzy Crack</b></td>
        <td class="rline bline bteam">53</td>
        <td></td>
        <td class="lline bline bteam">(9) Dizzy Crack</td>
        <td class="rline bline bteam">63</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2">Semis</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline"></td>
        <td class="lline bline tline bteam" style="width:150px"><b>(1) Death Row</b></td>
        <td class="rline tline bline bteam" style="width:20px">67</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam">(5) Big State</td>
        <td class="rline bline bteam">66</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline tline bteam">(4) The Come Up</td>
        <td class="rline tline bline bteam" width="15">40</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline bteam"><b>(5) Big State</td>
        <td class="rline bline bteam">55</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2" width="170">Finals</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline">&nbsp; &nbsp;</td>
        <td class="lline bline tline bteam" style="width:130px">(1) Death Row</td>
        <td class="rline tline bline bteam" width="15">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam">(7) Grim Reapers</td>
        <td class="rline bline bteam">&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td class="time2" colspan="2" style="width:170px;">Play-In</td>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline tline bteam"><b>(6) Jet Mafia</b></td>
        <td class="rline tline bline bteam">56</td>
        <td style="border-bottom: 1px dashed #c0c0c0;"></td>
        <td class="lline bline tline bteam"><b>(3) Still @ It</b></td>
        <td class="rline tline bline bteam" width="15">73</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline bteam">(11) Indie 1</td>
        <td class="rline bline bteam">48</td>
        <td></td>
        <td class="lline bline bteam">(6) Jet Mafia</td>
        <td class="rline bline bteam">56</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2">Semis</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline"></td>
        <td class="lline bline tline bteam">(3) Still @ It</td>
        <td class="rline tline bline bteam" width="15">31</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam"><b>(7) Grim Reapers</b></td>
        <td class="rline bline bteam">71</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="time2" colspan="2">Play-In</td>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline tline bteam"><b>(7) G Reapers</b></td>
        <td class="rline tline bline bteam">72</td>
        <td style="border-bottom: 1px dashed #c0c0c0;"></td>
        <td class="lline bline tline bteam">(2) Brotherhood</td>
        <td class="rline tline bline bteam" width="15">65</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline bteam">(10) Chiefs</td>
        <td class="rline bline bteam">58</td>
        <td></td>
        <td class="lline bline bteam"><b>(7) Grim Reapers</b></td>
        <td class="rline bline bteam">71</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <h3>&nbsp;</h3>
  <h1>Majerle Bracket</h1><br>
  <table border="0" cellpadding="0" cellspacing="0" width="780">
    <tbody>
      <tr>
        <td width="20px"></td>
        <td class="time2" colspan="2" width="170">1st Round</td>
        <td width="15px"></td>
        <td class="time2" colspan="2" width="170">2nd Round</td>
        <td width="15px"></td>
        <td width="15px"></td>
        <td width="150px"></td>
        <td></td>
        <td width="15px"></td>
        <td width="15px"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline tline bteam"><b>(8) Expendables</b></td>
        <td class="rline tline bline bteam">54</td>
        <td style="border-bottom: 1px dashed #c0c0c0;"></td>
        <td class="lline bline tline bteam">(1) Buckets &amp; Mops</td>
        <td class="rline tline bline bteam" width="15">44</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline bteam">(9) Cold Brew</td>
        <td class="rline bline bteam">46</td>
        <td></td>
        <td class="lline bline bteam"><b>(8) Expendables</b></td>
        <td class="rline bline bteam">71</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2" width="140">Semis</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline"></td>
        <td class="lline bline tline bteam"><b>(8) Expendables</b></td>
        <td class="rline tline bline bteam" width="15">54</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam">(5) La Familia</td>
        <td class="rline bline bteam">49</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td class="time2" colspan="2">2nd Round</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline tline bteam"><b>(5) La Familia</b></td>
        <td class="rline tline bline bteam">65</td>
        <td style="border-bottom: 1px dashed #c0c0c0;"></td>
        <td class="lline bline tline bteam">(4) Chiizy</td>
        <td class="rline tline bline bteam" width="15">19</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline bteam">(12) to the Future!</td>
        <td class="rline bline bteam">53</td>
        <td></td>
        <td class="lline bline bteam"><b>(5) La Familia</b></td>
        <td class="rline bline bteam">51</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" width="140">Finals</td>
        <td class="time2" width="15"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline"></td>
        <td class="lline bline tline bteam">(8) Expendables</td>
        <td class="rline tline bline bteam" width="15">&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam">&nbsp;</td>
        <td class="rline bline bteam">&nbsp;</td>
      </tr>
      <tr>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td class="time2" colspan="2">2nd Round</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline tline bteam">(7) Chef Curry 2</td>
        <td class="rline tline bline bteam">51</td>
        <td style="border-bottom: 1px dashed #c0c0c0;"></td>
        <td class="lline bline tline bteam"><b>(2) Underrated</b></td>
        <td class="rline tline bline bteam" width="15">45</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline bteam"><b>(10) bAllStars</b></td>
        <td class="rline bline bteam">64</td>
        <td></td>
        <td class="lline bline bteam">(10) bAllStars</td>
        <td class="rline bline bteam">42</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2">Semis</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline"></td>
        <td class="lline bline tline bteam">(2) Underrated</td>
        <td class="rline tline bline bteam" width="15">&nbsp;</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam">(3) Hodor</td>
        <td class="rline bline bteam">&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="time2" colspan="2">1st Round</td>
        <td></td>
        <td class="time2" colspan="2">2nd Round</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline tline bteam"><b>(6) #BallisLife</b></td>
        <td class="rline tline bline bteam">56</td>
        <td style="border-bottom: 1px dashed #c0c0c0;"></td>
        <td class="lline bline tline bteam"><b>(3) Hodor</b></td>
        <td class="rline tline bline bteam" width="15">69</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline bteam">(11) Cornhuskers</td>
        <td class="rline bline bteam">45</td>
        <td></td>
        <td class="lline bline bteam">(6) #BallisLife</td>
        <td class="rline bline bteam">48</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <h3>&nbsp;</h3>
  <h1>Johnson Bracket</h1><br>
  <table border="0" cellpadding="1" cellspacing="0" style="width:780px;">
    <tbody>
      <tr>
        <td style="width:20px;"></td>
        <td class="time2" colspan="2" style="width:200px;">1st Round</td>
        <td style="width:30px;"></td>
        <td class="time2" colspan="2" style="width:200px;">Semis</td>
        <td style="width:30px;"></td>
        <td style="width:30px;"></td>
        <td></td>
        <td style="width:15px;"></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline tline bteam"><b>(4) Love Triangle</b></td>
        <td class="rline tline bline bteam" width="15">63</td>
        <td style="border-bottom: 1px dashed #c0c0c0;"></td>
        <td class="lline bline tline bteam"><b>(1) Mo Money</b></td>
        <td class="rline tline bline bteam" style="width:20px">58</td>
        <td class="bline"></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td class="lline bline bteam">(5) Home Team Hoops</td>
        <td class="rline bline bteam">52</td>
        <td></td>
        <td class="lline bline bteam">(4) Love Triangle</td>
        <td class="rline bline bteam">53</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="time2" colspan="2" style="width:200px;">Finals</td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline"></td>
        <td class="lline bline tline bteam" style="width:150px">(1) Mo Money</td>
        <td class="rline tline bline bteam" width="15">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td class="lline bline bteam">(3) Dirty Sprite 2</td>
        <td class="rline bline bteam">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="time2" colspan="2">Semis</td>
        <td></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline tline bteam">(2) Super Soul Sonics</td>
        <td class="rline tline bline bteam" width="15">55</td>
        <td class="bline"></td>
        <td class="lline"></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td class="lline bline bteam"><b>(3) Dirty Sprite 2</b></td>
        <td class="rline bline bteam">65</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </table>
  <h3>&nbsp;</h3>