<h1><a name="bracket" id="bracket"></a>Uncle Drew Bracket</h1>
<br />

<table border="0" cellpadding="0" cellspacing="0" width="800">
	<tbody>
		<tr>
			<td></td>
			<td>&nbsp;</td>
			<td width="15"></td>
			<td width="15"></td>
			<td></td>
			<td></td>
			<td width="15"></td>
			<td width="15"></td>
			<td></td>
			<td></td>
			<td width="15"></td>
		</tr>
		<tr>
			<td></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2">Semis - 2/16 - 3PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="bline">&nbsp;</td>
			<td class="lline bline tline bteam"><strong>(1) TLC Deez</strong></td>
			<td class="rline tline bline bteam" width="15">38</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(5) NYC Falcons</td>
			<td class="rline bline bteam">27</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 2/9 - 4PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam">(4) Brooklynites</td>
			<td class="rline tline bline bteam" width="15">31</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam"><strong>(5) NYC Falcons</strong></td>
			<td class="rline bline bteam">38</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td width="15" class="lline"></td>
			<td class="time2" colspan="2" width="300">Uncle Drew Finals - 2/16 - 5PM</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline tline bteam"><strong>(1) TLC Deez</strong></td>
			<td class="rline tline bline bteam" width="15">59</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(2) Monday</td>
			<td class="rline bline bteam">56</td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2">Semis - 2/16 - 4PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td width="15">&nbsp;</td>
			<td class="lline bline tline bteam"><strong>(2) Monday</strong></td>
			<td class="rline tline bline bteam" width="15">60</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline bteam">(3) #BallisLife</td>
			<td class="rline bline bteam">55</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td>&nbsp;</td>
			<td>&nbsp;</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<h3>&nbsp;</h3>
<h1>Larry Legend Bracket</h1>
<br />
<table border="0" cellpadding="0" cellspacing="0" width="800">
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2" width="140">2nd Round - 2/16 - 12PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="bline" width="15"></td>
			<td class="lline bline tline bteam"><strong>(1) Red Horsemen</strong></td>
			<td class="rline tline bline bteam" width="15">53</td>
			<td class="bline" width="15"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(8) Ice Up Son</td>
			<td class="rline bline bteam">48</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 2/16 - 10AM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam"><strong>(8) Ice Up Son</strong></td>
			<td class="rline tline bline bteam" width="15">60</td>
			<td class="bline" width="15"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(9) Orange Crush</td>
			<td class="rline bline bteam">48</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline" width="15"></td>
			<td class="time2" colspan="2" width="140">Semifinals - 2/23 - 11AM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline" width="15"></td>
			<td class="lline bline tline bteam">(1) Red Horsemen</td>
			<td class="rline tline bline bteam" width="15"></td>
			<td class="bline" width="15"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(5) Team TMG</td>
			<td class="rline bline bteam"></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="1"></td>
			<td>
			<p></p>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td width="15"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2">2nd Round - 2/9 - 11AM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline tline bteam">(4) New Born Kings</td>
			<td class="rline tline bline bteam" width="15">48</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline bteam"><strong>(5) Team TMG</strong></td>
			<td class="rline bline bteam">59</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline" width="15"></td>
			<td class="time2" width="140">Larry Legend Finals - 2/23 - 1PM</td>
			<td class="time2" width="15"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline tline bteam">&nbsp;</td>
			<td class="rline tline bline bteam" width="15"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(2) Wrecking Ballers</td>
			<td class="rline bline bteam"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2">2nd Round - 2/16 - 2PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="bline"></td>
			<td class="lline bline tline bteam"><b>(2) Wrecking Ballers</b></td>
			<td class="rline tline bline bteam" width="15">67</td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(7) Men of Mayhem</td>
			<td class="rline bline bteam">59</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 2/9 - 12PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam"><strong>(7) Men of Mayhem</strong></td>
			<td class="rline tline bline bteam" width="15">46</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(10) Hodor</td>
			<td class="rline bline bteam">44</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2">Semis - 2/16 - 2PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline tline bteam"><strong>(2) Wrecking Ballers</strong></td>
			<td class="rline tline bline bteam" width="15">59</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(3) Fulton Heat</td>
			<td class="rline bline bteam">54</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td width="15"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2">2nd Round - 2/9 - 3PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline tline bteam"><strong>(3) Fulton Heat</strong></td>
			<td class="rline tline bline bteam" width="15">63</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline bteam">(6) Fundamentals</td>
			<td class="rline bline bteam">59</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<h3>&nbsp;</h3>
<h1>Black Mamba Bracket</h1>
<br />


<table border="0" cellpadding="0" cellspacing="0" width="800">
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2" width="165">2nd Round - 2/23 - 12PM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="bline" width="15"></td>
			<td class="lline bline tline bteam">(1) The Come Up</td>
			<td class="rline tline bline bteam" width="15"></td>
			<td class="bline" width="15"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(8) Game, Blouses</td>
			<td class="rline bline bteam"></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2" width="165">1st Round - 2/16 - 1PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam"><strong>(8) Game, Blouses</strong></td>
			<td class="rline tline bline bteam" width="15">84</td>
			<td class="bline" width="15"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam">(9) BKLYN Knights</td>
			<td class="rline bline bteam">36</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline" width="15"></td>
			<td class="time2" colspan="2" width="165">Semifinals</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline" width="15"></td>
			<td class="lline bline tline bteam">&nbsp;</td>
			<td class="rline tline bline bteam" width="15"></td>
			<td class="bline" width="15"></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline" width="15"></td>
			<td class="lline bline bteam">(5) Jetlife</td>
			<td class="rline bline bteam"></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td colspan="1"></td>
			<td>
			<p></p>
			</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td width="15"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2">2nd Round - 2/16 - 11AM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline tline bteam">(4) Father Time</td>
			<td class="rline tline bline bteam" width="15">55</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline bteam"><strong>(5) Jetlife</strong></td>
			<td class="rline bline bteam">74</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" width="160">Black Mamba Finals</td>
			<td class="time2" width="15"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline" width="15"></td>
			<td class="lline bline tline bteam">&nbsp;</td>
			<td class="rline tline bline bteam" width="15"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline" width="15"></td>
			<td class="lline bline bteam">&nbsp;</td>
			<td class="rline bline bteam"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2">2nd Round - 2/23 - 10AM</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="bline"></td>
			<td class="lline bline tline bteam">(2) Grand Life</td>
			<td class="rline tline bline bteam" width="15"></td>
			<td class="bline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(10) Flashdancers</td>
			<td class="rline bline bteam">&nbsp;</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="time2" colspan="2">1st Round - 2/16 - 6PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline tline bteam">(7) Buttermilk Silk</td>
			<td class="rline tline bline bteam" width="15">34</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td class="lline bline bteam"><strong>(10) Flashdancers</strong></td>
			<td class="rline bline bteam">46</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="time2" colspan="2">Semifinals</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline"></td>
			<td class="lline bline tline bteam">&nbsp;</td>
			<td class="rline tline bline bteam" width="15"></td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td class="lline bline bteam">(3) Harlem Rebels</td>
			<td class="rline bline bteam"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td width="15"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="time2" colspan="2">2nd Round - 2/16 - 7PM</td>
			<td></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline tline bteam"><strong>(3) Harlem Rebels</strong></td>
			<td class="rline tline bline bteam" width="15">53</td>
			<td class="bline"></td>
			<td class="lline"></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="lline bline bteam">(6) Chiefs</td>
			<td class="rline bline bteam">50</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
<h3>&nbsp;</h3>