%table.footer{style:"font-size:12px;", width:"1110", border:"0", cellpadding:"0", cellspacing:"0"}
  %tr
    %td
      %a{href:"/"} Home
    %td &nbsp;
  %tr
    %td
      %a{href:"/the-league"} The League
      |
      %a{href:"/the-league#rules"} Rules & Format
      |
      %a{href:"/schedules"} Schedule
      |
      %a{href:"/record-books"} Record Books
      |
      %a{href:"/the-league#contact"} Contact
    %td{align:"right"} &#169; Copyright 2011-2013
  %tr
    %td
      %a{href:"/signup"} Sign Up
    %td{align:"right"} All Rights Reserved.
