%footer
  .footer-outer-container
    .container{:style => "color:#fff"}
      .col-md-3
        %img.img-responsive.footer-logo{:src => "images/whitelogo.png"}/
      .col-md-3{:style => "text-align:center;"}
        %a{:href => "https://www.facebook.com/abchoopsnyc/", :target => "_blank"}
          %i.fa.fa-facebook-official{"aria-hidden" => "true"}
        %a{:href => "https://www.instagram.com/abchoops/", :target => "_blank"}
          %i.fa.fa-instagram{"aria-hidden" => "true"}
        %a{:href => "https://twitter.com/abchoopsnyc", :target => "_blank"}
          %i.fa.fa-twitter-square{"aria-hidden" => "true"}
        %a{:href => "https://www.flickr.com/photos/abchoopsnyc/", :target => "_blank"}
          %i.fa.fa-flickr{"aria-hidden" => "true"}
      .col-md-3{:style => "text-align:center;"}
        The League | Scores | Stats | Record Books | Sign Up
      .col-md-3.copyright
        &#169; Copyright 2011-
        = Time.current.year 
        ABC Hoops NYC
        %br/
        All rights reserved.