%footer
  .footer-outer-container
    .container{:style => "color:#fff"}
      .col-md-3
        %img.img-responsive.footer-logo{:src => "images/whitelogo.png"}/
      .col-md-3{:style => "text-align:center;"}
        %a{:href => "#", :target => "_blank"}
          %i.fa.fa-facebook-official{"aria-hidden" => "true"}
        %a{:href => "#", :target => "_blank"}
          %i.fa.fa-instagram{"aria-hidden" => "true"}
        %a{:href => "#", :target => "_blank"}
          %i.fa.fa-twitter-square{"aria-hidden" => "true"}
        %a{:href => "#", :target => "_blank"}
          %i.fa.fa-flickr{"aria-hidden" => "true"}
      .col-md-3{:style => "text-align:center;"}
        The League | Scores | Stats | Record Books | Sign Up
      .col-md-3.copyright
        © Copyright 2011-2017 ABC Hoops NYC
        %br/
        All rights reserved.
