%table.footer{style:"font-size:12px;", width:"1110", border:"0", cellpadding:"0", cellspacing:"0"}
  %tr
    %td
      %a{href:"http://www.abchoopsnyc.com"} Home
    %td &nbsp;
  %tr
    %td
      %a{href:"http://www.abchoopsnyc.com/theleague.shtml"} The League
      |
      %a{href:"http://www.abchoopsnyc.com/media.shtml"} Media
      |
      %a{href:"/schedules"} Schedule
      |
      %a{href:"/results"} Results
      |
      %a{href:"/record-books#page=highs"} Record Books
      |
      %a{href:"http://www.abchoopsnyc.com/theleague.shtml#contact"} Contact
    %td{align:"right"} &#169; Copyright 2011-2015
  %tr
    %td
      %a{href:"http://www.abchoopsnyc.com/theleague.shtml/signup.shtml"} Sign Up
    %td{align:"right"} All Rights Reserved.
