%table(cellpadding="2" cellspacing="0" border="0" width="650")
  %tbody
    %tr.terms
      %td(colspan="8") Click each column to sort descending or ascending for each stat.
    %tr
      %td(colspan="3")
        %b
          %em Glossary
    %tr.terms
      %td
        %b 3PT
      %td(width="205") Three Pointers (Made &amp; Attempted)
      %td
        %b O
      <td width="155">Offensive Rebounds
      %td
        %b A
      %td Assists
      %td
        %b F
      %td Fouls
    %tr.terms
      %td
        %b FT
      %td(width="205") Free Throws (Made &amp; Attempted)
      %td
        %b D
      %td(width="155") Defensive Rebounds
      %td
        %b S
      %td Steals
      %td
        %b P
      %td Points
    %tr.terms
      %td 
        %b
          %br
      %td(width="205")
        %br
      %td
        %b T
      %td(width="155") Total Rebounds
      %td
        %b B
      %td Blocks
      %td &nbsp;
      %td &nbsp;