.glossary-container
  %p Click each column to sort descending or ascending for each stat.
  %h8 Glossary
  .row.glossary-inner-container
    .col-md-3.col-sm-6.col-xs-6
      %b 3PT
      Three Pointers
      %br/
      %b FT
      Free Throws
    .col-md-3.col-sm-6.col-xs-6
      %b O
      Offensive Rebounds
      %br/
      %b D
      Defensive Rebounds
      %br/
      %b T
      Total Rebounds
    .col-md-2.col-sm-6.col-xs-6
      %b A
      Assists
      %br/
      %b S
      Steals
      %br/
      %b B
      Blocks
    .col-md-2.col-sm-6.col-xs-6
      %b F
      Fouls
      %br/
      %b P
      Points