<div id="headerbar"> &nbsp; </div>
<div id="header">
  <div id="hleft"> &nbsp; </div>
  <div id="logo" onclick="location.href='../index.html';" style="cursor: pointer;">ABC Hoops NYC</div>
<div style="height:34px;width:723px;background-color:none;float:left;margin-top:0px;"><p style="margin-top:4px;margin-left:280px;padding:0px;font-size:12px;font-family:Arial,Geneva,sans-serif;color:#000000;font-weight:bold;">Read about us in SLAM Online!&nbsp;<a href="http://www.slamonline.com/online/blogs/the-notorious-dnp/2012/06/abchoopsny-abcs-of-love/" target="_blank"><img src="/assets/slamlogo25pxh.gif" style="vertical-align:middle;margin-left:3px;" /></a></p>
</div>
  <div id="hright">
    <ul id="navbar">
      <li><a href="http://abchoopsnyc.com/theleague.shtml">League</a>
        <ul>
          <li><a href="http://abchoopsnyc.com/news-1.shtml">News</a></li>
          <li><a href="http://abchoopsnyc.com/theleague.shtml">Info</a></li>
          <li><a href="http://abchoopsnyc.com/theleague.shtml#rules">Rules</a></li>
          
          <li><a href="http://abchoopsnyc.com/theleague.shtml#contact">Contact</a></li>
        </ul>
      </li>
      <li><a href="/schedules">Scores & Sched</a>
        <ul class="schedulemenu">
          <% League.order(:id).each do |league| %>
            <% if !league.games(@current_season).empty? %>
              <li><%= link_to "#{league.name}", "#{schedule_path}?season=#{@current_season.id}&=league=#{league.id}" %></li>
            <% end %>
          <% end %>
        </ul>
      </li>
      <li><a href="http://abchoopsnyc.com/results.shtml">Stats</a>
        <ul class="statsmenu">
          <li><a href="http://abchoopsnyc.com/results.shtml#standings">Standings</a></li>
          <li><a href="http://abchoopsnyc.com/results.shtml#leaderboard">Leaderboard</a></li>
          <li><a href="http://abchoopsnyc.com/results.shtml#teamstats">Team Stats</a></li>
          <!--<li><a href="http://abchoopsnyc.com/s7_fall12_sun/3pointcontest.html">3 Point Contest</a></li>-->
        </ul>
      </li>
        <li><a href="http://abchoopsnyc.com/store_shirts.shtml">Store</a>
          <ul class="teamsmenu">
           <li><a href="http://abchoopsnyc.com/store_shirts.shtml">Apparel</a></li>
          <li><a href="http://abchoopsnyc.com/store_shoes.shtml">Shoes</a></li>
          </ul>
        </li>
      
      <li><a href="http://abchoopsnyc.com/media.shtml">Media</a>
        <ul class="mediamenu">
        </ul>
      </li>
    </ul>
    <div id="signupblock">
      <p class="signuphead"><a href="http://abchoopsnyc.com/signup.shtml">Sign Up</a></p>
      <!--<p class="signupheaddays"><a href="http://abchoopsnyc.com/signup.shtml">Weekdays&nbsp;&nbsp;&amp;&nbsp;&nbsp;Weekends</a></p>-->
    </div>
  </div>
  <!-- AddThis Button BEGIN -->
  <div style="position:absolute;top:129px;right:345px;z-index:2;">
    <p style="margin:0px;padding:0px;font-size:10px;font-weight:bold;">Share:</p>
  </div>
  <div class="addthis_toolbox addthis_default_style " style="position:absolute;top:127px;right:285px;height:17px;width:60px;z-index:2;"> <a class="addthis_button_preferred_1"></a> <a class="addthis_button_preferred_2"></a> <a class="addthis_button_preferred_3"></a> </div>
  <script type="text/javascript">var addthis_config = {"data_track_addressbar":false};</script> 
  <script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fc4f8b56ea9e91f"></script> 
  <!-- AddThis Button END --> 
</div>
<div id="socnettab"><img src="/assets/socnettab.png" width="43" height="130" border="0" usemap="#socnet">
  <map name="socnet">
    <area shape="rect" coords="6,7,36,37" href="https://www.facebook.com/pages/ABCHoopsNYC/194635237228307" alt="Follow us on Facebook" title="Follow us on Facebook">
    <area shape="rect" coords="6,46,36,76" href="http://www.flickr.com/photos/60289240@N08/" alt="Follow us on Flickr" title="Follow us on Flickr">
    <area shape="rect" coords="6,85,36,115" href="http://twitter.com/abchoopsnyc" alt="Follow us on Twitter" title="Follow us on Twitter">
  </map>
</div>