%div.headshotThumbOuter
  -if player.profile_pic_thumb_url.blank?
    %a.headshotThumbContainer.halfball{href:stats_player_path(player.id)}
      %span.playernumbernopicthumb= Player.find(player.id).last_number
  -else
    %a.headshotThumbContainer{href:stats_player_path(player.id)}
      %img{src:"#{player.profile_pic_thumb_url}", height: "50px;", width: "50px"}