.grid_3.headerItem.logo
  %a{href: "http://www.abchoops.com"}
    %img{src: "/assets/logo-280t.png", border: "0"}
.headerRight
  .rightContainer
    %p.slamHeader
      Read about us in SLAM Online!
      %a{href: "http://www.slamonline.com/blogs/the-notorious-dnp/abchoopsny-abcs-of-love/", target: "_blank"}
        %img{src: "/assets/slamlogo25pxh.gif", style: "vertical-align:middle; margin-left:3px;"}
  .socmedContainer
    %ul#socmedia
      %li#facebook
        %a{href: "https://www.facebook.com/abchoopsnyc", target: "_blank"}
          %span{style: "display:none;"} Facebook
      %li#flickr
        %a{href: "http://www.flickr.com/photos/60289240@N08/", target: "_blank"}
          %span{style: "display:none;"} Flickr
      %li#twitter
        %a{href: "https://www.twitter.com/abchoopsnyc", target: "_blank"}
          %span{style: "display:none;"} Twitter
      %li#instagram
        %a{href: "http://instagram.com/abchoops", target: "_blank"}
          %span{style: "display:none;"} Instagram
  .findaplayer
    %b Find A Player
    =render "find_a_player_form"
.navbarBG
  %ul#navbar
    %li
      %a{href:"http://abchoops.com/theleague.shtml"} The League
      %ul
        %li
          %a{href:"http://abchoops.com/theleague.shtml"} Info
        %li
          %a{href:"http://abchoops.com/faq.shtml"} FAQ
        %li
          %a{href:"http://abchoops.com/theleague.shtml#gyms"} Gyms
        %li
          %a{href:"http://abchoops.com/media.shtml"} Media
        %li
          %a{href:"http://abchoops.com/theleague.shtml#contact"} Contact
        %li
          %a{href:"http://abchoops.com/news-1.shtml"} Updates
    %li
      %a{href:schedules_path} Scores &amp; Sched
      %ul.schedulemenu
        %li
          %a{href:schedules_path(season: Season.current.id, league: 4)} IBL
        %li
          %a{href:schedules_path(season: Season.current.id, league: 3)} Weekdays
        %li
          %a{href:schedules_path(season: Season.current.id, league: 2)} Saturday
        %li
          %a{href:schedules_path(season: Season.current.id, league: 1)} Sunday
    %li
      %a{href:results_url} Stats
      %ul.statsmenu
        %li
          %a{href:results_url(season: Season.current.id, league: 4)} IBL
        %li
          %a{href:results_url(season: Season.current.id, league: 3)} Weekdays
        %li
          %a{href:results_url(season: Season.current.id, league: 2)} Saturday
        %li
          %a{href:results_url(season: Season.current.id, league: 1)} Sunday
    %li
      %a{href:"/record-books"} Record Books
#signupblock
  %p.signuphead
    %a{href:"http://abchoops.com/signup.shtml"} Sign Up
  %p.signupheaddays
    %a{href:"http://abchoops.com/signup.shtml"} Weekdays&nbsp;&nbsp;&amp;&nbsp;&nbsp;Weekends
.addthisContainer
  .addthis_toolbox.addthis_default_style.addthisInner
    %ul
      %p Share:
      %li
        %a.addthis_button_preferred_4
      %li
        %a.addthis_button_preferred_1
      %li
        %a.addthis_button_preferred_2
:javascript
  var addthis_config = {"data_track_addressbar":false};
%script{:type => "text/javascript", src:"http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-4fc4f8b56ea9e91f"}