.col-md-12.upper-diag-bar.upper-diag-bar-no-score
  .right-upper-bar-no-score
    .slam-header-container
      %a{:href => "http://www.slamonline.com/blogs/the-notorious-dnp/abchoopsny-abcs-of-love/", :target => "_blank"}
    .soc-media-header-container
      %a{:href => "https://www.facebook.com/abchoopsnyc/", :target => "_blank"}
        %i.fa.fa-facebook-official
    .soc-media-header-container
      %a{:href => "https://www.instagram.com/abchoops/", :target => "_blank"}
        %i.fa.fa-instagram
    .soc-media-header-container
      %a{:href => "https://twitter.com/abchoopsnyc", :target => "_blank"}
        %i.fa.fa-twitter-square
    .soc-media-header-container
      %a{:href => "https://www.flickr.com/photos/abchoopsnyc/", :target => "_blank"}
        %i.fa.fa-flickr
    .search-toggle
      %a.find-a-player-toggle{"data-container" => "body", "data-html" => "true", "data-placement" => "left", "data-toggle" => "popover", :href => "javascript://", :type => "button"}
        %i.fa.fa-search{"aria-hidden" => "true"}
  =render "find_a_player_form"
.navbar
  .container-fluid.container-fluid-header
    .navbar-header{:style => "width:100%"}
      %button.navbar-toggle.collapsed{"data-target" => "#myNavbar", "data-toggle" => "collapse", :type => "button"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      #color_logo.header-aside
        %a{:href => "http://abchoops.com"}
          =image_tag 'whitelogo.png', class: 'header-logo'
      #myNavbar.collapse.navbar-collapse
        .header_slide_logo_container{:style => "border:none"}
          %a{:href => "http://abchoops.com"}
            =image_tag 'whitelogo.png', class: 'header-logo white-header-logo'
        %ul.nav.navbar-nav
          %li.dropdown-fixed.dropdown-fixed-theleague
            %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "http://abchoops.com/theleague.html"}
              The
              %br.menu-break/
              League
              %span.caret
            %ul.dropdown-menu.dropdown-menu-fixed.dropdown-menu-theleague
              %li
                %a{:href => "http://abchoops.com/theleague.html"} Info
              %li
                %a{:href => "http://abchoops.com/faq.html"} FAQ
              %li
                %a{:href => "http://abchoops.com/theleague.html#gyms"} Gyms
              %li
                %a{:href => "http://abchoops.com/theleague.html#media"} Media
              %li
                %a{:href => "http://abchoops.com/theleague.html#contact"} Contact
              %li
                %a{:href => "http://abchoops.com/updates.html"} Updates
          %li.dropdown-fixed.dropdown-fixed-scores
            %a.dropdown-toggle.scores_sched{"data-toggle" => "dropdown", :href => schedules_path}
              Scores &amp;
              %br.menu-break/
              Schedule
              %span.caret
            %ul.dropdown-menu.dropdown-menu-fixed
              %li
                %a{href:schedules_path(season: Season.current.id, league: 3)} Summer Weekdays
              %li{:style => "border-bottom: 1px solid #fff!important;"}
                %a{href:schedules_path(season: Season.current.id, league: 1)} Summer Sunday
              %li
                %a{href:schedules_path(season: 34, league: 3)} Spring Weekdays
              %li
                %a{href:schedules_path(season: 34, league: 2)} Spring Saturday
              %li{:style => "border-bottom: 1px solid #fff!important;"}
                %a{href:schedules_path(season: 34, league: 1)} Spring Sunday
              %li
                %a.past_seasons{href:schedules_path}
                  Past
                  %br/
                  Seasons
          %li.dropdown-fixed.dropdown-fixed-stats
            %a.dropdown-toggle.dropdown-toggle-stats{"data-toggle" => "dropdown", :href => results_url}
              Stats &amp;
              %br.menu-break/
              Standings
              %span.caret
            %ul.dropdown-menu.dropdown-menu-fixed
              %li
                %a{href:results_url(season: Season.current.id, league: 3)} Summer Weekdays
              %li{:style => "border-bottom: 1px solid #fff!important;"}
                %a{href:results_url(season: Season.current.id, league: 1)} Summer Sunday
              %li
                %a{href:results_url(season: 34, league: 3)} Spring Weekdays
              %li
                %a{href:results_url(season: 34, league: 2)} Spring Saturday
              %li{:style => "border-bottom: 1px solid #fff!important;"}
                %a{href:results_url(season: 34, league: 1)} Spring Sunday
              %li
                %a.past_seasons{href:results_url}
                  Past
                  %br/
                  Seasons
          %li.record-books.dropdown-fixed
            %a{:href => "/record-books"}
              Record
              %br.menu-break/
              Books
        .sign_up_container
          %a{:href => "http://abchoops.com/signup.html"} Sign Up
        .social-media-container-phone
          %a{:href => "https://www.facebook.com/abchoopsnyc/", :target => "_blank"}
            .icon-container
              %i.fa.fa-facebook-official
          %a{:href => "https://www.instagram.com/abchoops/", :target => "_blank"}
            .icon-container
              %i.fa.fa-instagram
          %a{:href => "https://twitter.com/abchoopsnyc", :target => "_blank"}
            .icon-container
              %i.fa.fa-twitter-square
          %a{:href => "https://www.flickr.com/photos/abchoopsnyc/", :target => "_blank"}
            .icon-container
              %i.fa.fa-flickr
      .nav-bottom-diag
  .nav-bottom-diag
.lower-diag-bar