<div class="sidebar">
  <p class="sidebarhead">Events</p>
  <br/>
  <h2>What: 3-Point Contest</h2>
  <h2>When: May 11th</h2>
  <h2>Where: Hell's Kitchen</h2>
  <h2>Prize: Jordan Retro 5</h2>
  <h2>Sponsor: <a href="http://www.4daluvofkicks.com/" target="_blank"><span style="font-weight:normal;">4DALUVOFKICKS.COM</span></a></h2>
  <p class="sidebartext">ABC Hoops NYC's sixth 3-Point Contest will take place May 11th.  The grand prize is a pair of Jordan Retro 5s from <a href="http://www.4daluvofkicks.com/" target="_blank">4DALUVOFKICKS.COM</a>.  The 2nd, 3rd, and 4th place winners will get a signed photo by a Knicks legend or a <a href="http://thesolepack.com/" target="_blank">Solepack</a>. </p>
  <p class="sidebartext" style="line-height:130%;"><a href="http://www.abchoopsnyc.com/events/3pointcontest_s13.shtml">Click here</a> to read more.</p>
</div>
<div class="sidebar">
  <p class="sidebarhead">FAQ</p>
  <p class="sidebartext" style="padding-top:0px !important;">
  <h2>Questions about the league?</h2>
  </p>
  <p class="sidebartext">Check out the <a href="http://abchoopsnyc.com/faq.shtml">FAQ</a>.</p>
</div>
<div class="sidebar">
  <p class="sidebarhead">Parties/Corporate Events</p>
  <p class="sidebartext">Let ABC Hoops NYC host your next party or corporate event.  We offer gym rentals with the following options:</p>
  <ul class="sidebarlist">
    <li>Referees</li>
    <li>Scorekeepers</li>
    <li>Photographers</li>
    <li>Videographer</li>
  </ul>
  <p class="sidebartext">For more information, email <a href="mailto:abchoopsnyc@gmail.com">abchoopsnyc@gmail.com</a>.  To check out an event we've hosted <a href="http://www.abchoopsnyc.com/events/tualum.shtml">click here</a>.</p>
</div>