<div class="sidebar">
  <p class="sidebarhead">Mailing List</p>
  <p class="sidebartext" style="margin-top:0px;">Enter your email to get updates from ABC Hoops NYC:</p>
  <!-- Begin MailChimp Signup Form -->
  <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
  <style type="text/css">
  #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
  </style>
  <div id="mc_embed_signup">
    <form action="http://abchoopsnyc.us5.list-manage.com/subscribe/post?u=45a474589f24f0540c1ca9eab&amp;id=8bb7c8f5be" method="post" id="mc-embedded-subscribe-form" style="padding-bottom:0px;padding-top:0px;" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
     <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="padding:2px;text-indent:2px;width:80%;" placeholder="email address" required>
     <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="font-size:12px;height:20px;line-height:20px;margin:0px;"class="button"></div>
   </form>
 </div>
 <!--End mc_embed_signup-->
</div>
<div class="sidebar">
  <p class="sidebarhead">Events</p>
  <br/>
  <h2>What: 3-Point Contest</h2>
  <h2>When: May 19th @ 2:45PM</h2>
  <h2>Winner: Jordan S.</h2>
  <h2>Prize: Concords</h2>
  <p class="sidebartext">ABC Hoops NYC's fifth 3-Point Contest took place May 19th.  The winner, Jordan S., chose Concords as his prize. </p>
  <p class="sidebartext" style="line-height:130%;font-size:13px;"><a href="http://abchoopsnyc.com/s9_spring13_sun/3pointcontest.shtml"><u>Click here</u></a> to read more.</p>
</div>
<div class="sidebar">
  <p class="sidebarhead">Parties/Corporate Events</p>
  <p class="sidebartext">Let ABC Hoops NYC host your next party or corporate event.  We offer gym rentals with the following options:</p>
  <ul class="sidebarlist">
    <li>Referees</li>
    <li>Scorekeepers</li>
    <li>Photographers</li>
    <li>Videographer</li>
  </ul>
  <p class="sidebartext">For more information, please email <a href="mailto:abchoopsnyc@gmail.com">abchoopsnyc@gmail.com</a>.</p>
</div>