  <div class="row" style="margin:0">
    <div class="col-lg-12 col-md-12 col-sm-6 sidebar-item-container sidebar-item-container-standings">
      <div class='sidebarContent'>
        <div class="sidebarscrollpane" id="standings"></div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-6 sidebar-item-container sidebar-item-container-faq">
      <div class='sidebarContent'>
        <div>
          <p class="standingsHead">FAQ</p>
          <p>Questions about the league?</p>
          <p>Check out the <a href="faq.html">FAQ</a>.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-12 col-md-12 col-sm-6 sidebar-item-container sidebar-item-container-events">
      <p class="standingsHead" style="word-spacing: -8px;">Parties / Events</p>
      <p>Let ABC Hoops NYC host your next party or corporate event. We offer gym rentals with the following options:</p>
      <ul>
        <li>Referees</li>
        <li>Scorekeepers</li>
        <li>Photographers</li>
        <li>Videographer</li>
      </ul>
      <p>For more information, email <a href="mailto:abchoopsnyc@gmail.com">abchoopsnyc@gmail.com</a>. To check out an event we've hosted <a href="#">click here</a>.</p>
    </div>
    <div style="clear:both;"></div>
  </div>