<div class="sidebar">
  <p class="sidebarhead">FAQ</p>
  <p class="sidebartext" style="padding-top:0px !important;">
  <h2>Questions about the league?</h2>
  </p>
  <p class="sidebartext">Check out the <a href="http://abchoopsnyc.com/faq.shtml">FAQ</a>.</p>
</div>
<div class="sidebar">
  <p class="sidebarhead">Parties/Corporate Events</p>
  <p class="sidebartext">Let ABC Hoops NYC host your next party or corporate event.  We offer gym rentals with the following options:</p>
  <ul class="sidebarlist">
    <li>Referees</li>
    <li>Scorekeepers</li>
    <li>Photographers</li>
    <li>Videographer</li>
  </ul>
  <p class="sidebartext">For more information, email <a href="mailto:abchoopsnyc@gmail.com">abchoopsnyc@gmail.com</a>.  To check out an event we've hosted <a href="events/tualum.shtml">click here</a>.</p>
</div>