<div class="sidebar">
  <p class="sidebarhead">Events</p>
  <br/>
  <h2>What: 3-Point Contest</h2>
  <h2>When: May 19th @ 2:45PM</h2>
  <h2>Winner: Jordan S.</h2>
  <h2>Prize: Concords</h2>
  <p class="sidebartext">ABC Hoops NYC's fifth 3-Point Contest took place May 19th.  The winner, Jordan S., chose Concords as his prize. </p>
  <p class="sidebartext" style="line-height:130%;"><a href="http://www.abchoopsnyc.com/s9_spring13_sun/3pointcontest.shtml">Click here</a> to read more.</p>
</div>
<div class="sidebar">
  <p class="sidebarhead">Parties/Corporate Events</p>
  <p class="sidebartext">Let ABC Hoops NYC host your next party or corporate event.  We offer gym rentals with the following options:</p>
  <ul class="sidebarlist">
    <li>Referees</li>
    <li>Scorekeepers</li>
    <li>Photographers</li>
    <li>Videographer</li>
  </ul>
  <p class="sidebartext">For more information, email <a href="mailto:abchoopsnyc@gmail.com">abchoopsnyc@gmail.com</a>.  To check out an event we've hosted <a href="http://www.abchoopsnyc.com/events/tualum.shtml">click here</a>.</p>
</div>