.sidebar
  %p.sidebarhead Events
  %br
  %h2 What: 3-Point Contest
  %h2 When: May 19th @ 2:45PM
  %h2 Winner: Jordan S.
  %h2 Prize: Concords
  %p.sidebartext ABC Hoops NYC's fifth 3-Point Contest took place May 19th.  The winner, Jordan S., chose Concords as his prize.
  %p.sidebartext{style:"line-height:130%;font-size:13px;"}
    %a{href:"http://abchoopsnyc.com/s9_spring13_sun/3pointcontest.shtml"}
      %u Click here
    to read more.
.sidebar
  %p.sidebarhead Parties/Corporate Events
  %p.sidebartext Let ABC Hoops NYC host your next party or corporate event.  We offer gym rentals with the following options:
  %ul.sidebarlist
    %li Referees
    %li Scorekeepers
    %li Photographers
    %li Videographers
  %p.sidebartext 
    For more information, please email
    %a{href:"mailto:abchoopsnyc@gmail.com"} abchoopsnyc@gmail.com
