<div class="sidebar">
  <p class="sidebarhead">Events</p>
  <br/>
  <h2>What: 3-Point Contest</h2>
  <h2>When: June 22nd @ 12PM</h2>
  <h2>Where: YMCA on the Bowery</h2>
  <h2>Prize: Assorted Prizes & Trophies</h2>
  <h2>Under 18 Price: $5</h2>
  <h2>18 & Over Price: $10</h2>
  <p style="margin-left:10px;">ABC Hoops NYC's summer 3-Point Contest is being held Sunday, June 22nd in association with the Chinatown YMCA on the Bowery.</p>
  <p style="margin-left:10px;"><a href="../events/3pointcontest_s14.shtml">Click here</a> to read more and sign up.</p>
</div>
<div class="sidebar">
  <p class="sidebarhead">FAQ</p>
  <p class="sidebartext" style="padding-top:0px !important;">
  <h2>Questions about the league?</h2>
  </p>
  <p class="sidebartext">Check out the <a href="http://abchoopsnyc.com/faq.shtml">FAQ</a>.</p>
</div>
<div class="sidebar">
  <p class="sidebarhead">Parties/Corporate Events</p>
  <p class="sidebartext">Let ABC Hoops NYC host your next party or corporate event.  We offer gym rentals with the following options:</p>
  <ul class="sidebarlist">
    <li>Referees</li>
    <li>Scorekeepers</li>
    <li>Photographers</li>
    <li>Videographer</li>
  </ul>
  <p class="sidebartext">For more information, email <a href="mailto:abchoopsnyc@gmail.com">abchoopsnyc@gmail.com</a>.  To check out an event we've hosted <a href="http://www.abchoopsnyc.com/events/tualum.shtml">click here</a>.</p>
</div>