<div style="width:100%;background-color:white;">
  <div class="indexContainer">
    <div class="headlinePic">
      <div id="slider">
        <ul class="bxslider">
          <li><a href="/signup"><img src="http://farm3.staticflickr.com/2857/11030740345_4f9f240956_c.jpg" alt="" title="Winter Weekday & Weekend Sign Up" /></a></li>
          <li><a href="/news"><img src="http://farm6.staticflickr.com/5540/11030792034_eaa3373138_c.jpg" alt="" title="Saturday Week 2 & Sunday Week 3 Playoff Photos" /></a></li>
          <li><a href="/news"><img src="http://farm8.staticflickr.com/7458/11031047936_9b1b55a8b9_c.jpg" alt="" title="Jetlife Wins Jellybean Division Championship" /></a></li>
          <li><a href="/news"><img src="http://farm4.staticflickr.com/3714/11022297625_a937660c77_c.jpg" alt="" title="Dons' Rok Wins Big Dipper Division Championship" /></a></li>
          <li><a href="/news"><img src="http://farm8.staticflickr.com/7404/11022328455_7ca9b5e6cf_c.jpg" alt="" title="Ray on the Roof Win Mr. Clutch Division Championship" /></a></li>
          <li><a href="/news"><img src="http://farm3.staticflickr.com/2873/10893801173_3300440a05_c.jpg" alt="" title="Red Horsemen Win Mailman Division Championship" /></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="newsContainer">
  <h1>Latest News</h1>
  <h3><a href="signup.shtml">Sign up for the Winter Weekday or Weekend Season</a></h3>
  <p> Registration is open for ABC Hoops NYC's Winter Weekday, Saturday, and Sunday seasons. You can either register a team or sign up as an individual. The season will start in Early December.<span class="right"><a href="signup.shtml">Read more & sign up here</a></span></p>
  <h3>Saturday Week 5 Scores</h3>
  <p>The scores from Saturday's <a href="schedule_s11_sat.shtml">Week 5</a> games are up.  The <a href="results_s11_saturday.shtml">Results page</a> has been updated with full standings, the individual stat leaderboard, and team stats.  Team pages are also up with per game and cumulative stats for each player.  Use the links in the Standings in the sidebar to access Saturday Team Pages.<span class="right"><a href="news-1.shtml">Read More</a></span></p>
  <h3>Saturday Week 4 & Sunday Week 5 Photos</h3>
  <p>Photos of Saturday's Week 4 and Sunday's Week 5 games have been uploaded to ABC Hoops NYC's <a href="http://www.facebook.com/home.php#!/pages/ABCHoopsNYC/194635237228307">Facebook</a> and <a href="http://www.flickr.com/photos/60289240@N08/">Flickr</a> accounts. You can view a selection of photos from each game on the individual game pages.<span class="right"><a href="news-1.shtml">Read More</a></span></p>
</div>
<div class="newsSep"></div>
<div class="playerOfWeek">
  <h1>Players of the Week</h1>
  <p style="font-size:12px;"><i>Each week we feature an outstanding performance by a player in each league.</i></p>
  <table width="330" border="0" cellpadding="2" cellspacing="0">
    <tr>
      <td class="bottom" rowspan="3" valign="middle" align="center"><img src="img/ind_mike.jpg"></td>
      <td><b>Mike - Jetlife</b></td>
    </tr>
    <tr>
      <td>23 Pts, 11 Rbs, 3 Ast, 1 Blk, 1 Stl</td>
    </tr>
    <tr>
      <td class="bottom"><a href="s11_fall13_sun/wk11_4pm.shtml">Sun - 4PM: JTL 69 - TCU 67</a></td>
    </tr>
    <tr>
      <td class="bottom" rowspan="3" valign="middle" align="center"><img src="img/ind_ryanm.jpg"></td>
      <td><b>Ryan M. - Dons' Rok</b></td>
    </tr>
    <tr>
      <td>12 Points, 7 Rbs, 2 Ast</td>
    </tr>
    <tr>
      <td class="bottom"><a href="s11_fall13_sat/wk10_3pm.shtml">Sat - 3PM: DON 55 - GNS 51</a></td>
    </tr>
    <tr>
      <td class="bottom" rowspan="3" valign="middle" align="center"><img src="img/ind_bparsons.jpg"></td>
      <td><b>B. Parsons - Ray on the Roof</b></td>
    </tr>
    <tr>
      <td>20 Pts, 5 Rbs, 2 Ast, 2 Stl, 1 Blk</td>
    </tr>
    <tr>
      <td class="bottom"><a href="s11_fall13_sat/wk10_3pm.shtml">Sat - 3PM: DON 55 - GNS 51</a></td>
    </tr>
  </table>
</div>
<div class="wholeDivider"></div>
<div class="threeBlockRow">
  <h1>Open Gym</h1>
  <table class="upcoming">
    <tr>
      <td class="odd"><b>Sunday, September 8th</b></td>
    </tr>
    <tr>
      <td class="even">1:00PM - 3:00PM</td>
    </tr>
    <tr>
      <td class="odd">Location: East Village Gym</td>
    </tr>
    <tr>
      <td class="even">Price: $10</td>
    </tr>
    <tr>
      <td class="odd">Capacity: 20 Players</td>
    </tr>
    <tr>
      <td class="even">Email <a href="mailto:abchoopsnyc@gmail.com">abchoopsnyc@gmail.com</a> to reserve a spot</td>
    </tr>
    <tr>
      <td class="odd">&nbsp;</td>
    </tr>
    <tr>
      <td class="even">If you'd like us to host an event for you, <a href="mailto:abchoopsnyc@gmail.com">email us</a>.  Check out an event we hosted previously <a href="events/2_tualum.shtml">here</a>.</td>
    </tr>
  </table>
</div>
<div class="verticalSep"></div>
<div class="threeBlockRow">
  <h1><a href="schedule.shtml">Upcoming Games</a></h1>
  <div class="scroll-upcoming">
    <table class="upcoming" cellpadding="3px">
      <tr>
        <td colspan="2" class="odd"><b>Saturday, October 12th</b></td>
      </tr>
      <tr>
        <td class="even">1PM - ROR vs JJF</td>
        <td class="even">4PM - MHD vs DON</td>
      </tr>
      <tr>
        <td class="odd">2PM - LPH vs MON</td>
        <td class="odd">5PM - LBT vs POP</td>
      </tr>
      <tr>
        <td class="even">3PM - MMB vs ISS</td>
        <td class="even">6PM - GNS vs FBC</td>
      </tr>
      <tr>
        <td colspan="2" class="odd"><b>Sunday, October 13th</b></td>
      </tr>
      <tr>
        <td class="even">10AM - TRP vs TCU</td>
        <td class="even">3PM - RLR vs HRB</td>
      </tr>
      <tr>
        <td class="odd">11AM - SSS vs FUN</td>
        <td class="odd">4PM - GLF vs JTL</td>
      </tr>
      <tr>
        <td class="even">12PM - FAT vs NET</td>
        <td class="even">5PM - GMB vs FLD</td>
      </tr>
      <tr>
        <td class="odd">1PM - ANJ vs SAS</td>
        <td class="odd">6PM - ZMS vs FLC</td>
      </tr>
      <tr>
        <td class="even">2PM - HDR vs PED</td>
        <td class="even">7PM - RHM vs ABB</td>
      </tr>
      <tr>
        <td class="odd">&nbsp;</td>
        <td class="odd">8PM - AUT vs FLH</td>
      </tr>
    </table>
  </div>
</div>
<div class="verticalSep"></div>
<div class="threeBlockRowF">
  <h1><a href="mtp_troyw.shtml">Meet the Player</a></h1>
  <a href="mtp_troyw.shtml"><img src="http://www.abchoopsnyc.com/images/fld_troywt.jpg" class="mtp"></a>
  <h2>&nbsp;</h2>
  <h2>&nbsp;</h2>
  <h2>Name: Troy Watson</h2>
  <h2>Team: Flashdancers</h2>
  <br/>
  <br/>
  <p>Troy first played in ABC Hoops NYC in the league's fifth season in the Spring of 2012. He's currently playing in his fourth season.</p>
  <p>Troy works at NBA Headquarters here in New York, and he's worked for the Hawks, Nets, Mets, and Inside the NBA in the past.  He's also got some interesting opinions on the Nets-Knicks Rivalry. <a href="mtp_troyw.shtml">Read More</a></span><br />
    <!--<br />
  <p>We previously featured <a href="mtp_dbrown.shtml">Dorien Brown</a> and hosted Dorien and his fellow TU Alumni and Friends for an event on March 17th.  Read more about it <a href="events/2_tualum.shtml">here</a>. --> 
</div>
<div class="wholeDivider"></div>
<div class="fourBlockRow">
  <h1><a href="http://www.abchoopsnyc.com/s9_spring13_sun/3pointcontest.shtml">Events</a></h1>
  <a href="http://www.abchoopsnyc.com/s9_spring13_sun/3pointcontest.shtml"><img src="http://www.abchoopsnyc.com/images/store/shoes/tb/jordanxispacejam_ss.jpg" class="meettheplayerpic" style="margin-left:10px;margin-right:10px;margin-top:20px;"></a> <br />
  <h2>What: 3-Point Contest</h2>
  <h2>When: May 19th</h2>
  <h2>Winner: Jordan S.</h2>
  <h2>Prize: Concords</h2>
  <p style="margin-left:10px;">ABC Hoops NYC's fifth 3-Point Contest took place May 19th.  The prize was a pair of rare Jordan Concords chosen by Jordan S.  Twenty-four players competed and there were three rounds.</p>
  <p style="margin-left:10px;"><a href="http://www.abchoopsnyc.com/s9_spring13_sun/3pointcontest.shtml">Click here</a> to read more.</p>
  </p>
</div>
<div class="verticalSep"></div>
<div class="fourBlockRow">
  <h1><a href="media.shtml">Media</a></h1>
  <p>Check out footage from our last 3-Point Contest:<br />
  <a href="http://www.youtube.com/watch?v=TbmExOzuq0I" target="_blank"><img src="http://www.abchoopsnyc.com/images/index_media.png" class="mtp"/></a><br />
  Also check out the our <a href="http://www.youtube.com/watch?v=UD6jivTKTAg" target="_blank">Summer Promo</a> and Benedict Schemers' <a href="http://www.youtube.com/watch?v=4gOY6TtIawA" target="_blank">Road To Perfection</a>.</p>
</div>
<div class="verticalSep"></div>
<div class="fourBlockRow">
  <h1>Mailing List</h1>
  <p>Enter your email to get updates from ABC Hoops NYC:</p>
  <br/>
  <!-- Begin MailChimp Signup Form -->
  <link href="http://cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">
  <style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }
</style>
  <div id="mc_embed_signup">
    <form action="http://abchoopsnyc.us5.list-manage.com/subscribe/post?u=45a474589f24f0540c1ca9eab&amp;id=8bb7c8f5be" method="post" id="mc-embedded-subscribe-form" style="padding-bottom:0px;padding-top:0px;" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" style="padding:2px;text-indent:2px;width:80%;height:30px;font-size:14px;" placeholder="email address" required>
      <br/>
      <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" style="font-size:16px;height:30px;line-height:20px;margin-left:50px;"class="button">
    </form>
  </div>
  
  <!--End mc_embed_signup--> 
</div>
<div class="verticalSep"></div>
<div class="fourBlockRowF">
  <h1><a href="store_shirts.shtml">Store</a></h1>
  <p style="margin-top:14px;">ABC Hoops NYC's store is now open.  There, you can buy ABC Hoops NYC directly from us, and we can also connect you to sellers of authentic rare Jordans. To see what's offered, <a href="store_shirts.shtml">click here</a>.</p>
  <a href="store_shirts.shtml"><img src="http://www.abchoopsnyc.com/images/index_busog.png" class="mtp" style="margin-right:15px;" /></a> <a href="store_shoes.shtml"><img src="http://www.abchoopsnyc.com/images/index_shoes.png" class="mtp" /></a> </div>
<div class="wholeDivider"></div>