<style>
.lisub {
	text-decoration:none;
	font-size:24px;
	background-color:#e07000 !important;
	line-height:2em;
	display:block;
	border: 4px solid #444444;
	width:620px;
	text-align:center;
}
.lisub:hover {
	text-shadow: -2px 2px 0px #000000 !important;
	text-decoration:none;
	background-color:#2e3b56 !important;
	color:#ffffff;
	font-size:24px;
	line-height:2em;
	display:block;
	border: 4px solid #2e3b56 !important;
}
.lisub:active {
	text-decoration:none;
	background-color:#e07000 !important;
	color:#ffffff;
	font-size:24px;
	line-height:2em;
	display:block;
	border: 4px solid #444444 !important;
}
.lisub:active {
	text-shadow: -1px 1px 0px #000000 !important;
	text-decoration:none;
	background-color:#e07000 !important;
	color:#ffffff;
	font-size:24px;
	line-height:2em;
	display:block;
	border: 4px solid #444444 !important;
}
p.lsif {
	line-height:130%;
	font-size:13px;
}
</style>
<h1>The League</h1>
<p class="lsif">ABCHoopsNYC is not your typical basketball league.  Our staff strives to provide the best environment where people can enjoy friendly and competitive basketball.  Unlike other leagues, our staff is always present and working hard during all your games, so players can experience the personal and exceptional array of services we offer.</p>
<p class="lsif">You can sign up as a whole team or an individual. If you sign up as an individual, you are guaranteed to have no more than 9 players on the team, so you'll have plenty of playing time.</p>
<div class="horizline"></div>
<script type="text/javascript" id="sourcecode">
$(document).ready(function(){
	$('#slides1').bxGallery({
		maxwidth: '',
		maxheight: '',
		thumbwidth: 150,
		thumbcrop: false,
		croppercent: .35,
		thumbplacement: 'top',
		thumbcontainer: '',
		opacity: .7,
		load_text: '',
		load_image: 'http://abchoopsnyc.com/images/spinner.gif',
		wrapperclass: 'outer' 
		    });
	});
	</script>
<div style="width:645px; margin:0 auto;">
        <ul id="slides1">
          <li><img class="pic" src="http://abchoopsnyc.com/images/league1.jpg" title="&nbsp;" /></li>
          <li><img class="pic" src="http://abchoopsnyc.com/images/league2.jpg" title="&nbsp;" /></li>
          <li><img class="pic" src="http://abchoopsnyc.com/images/league3.jpg" title="&nbsp;" /></li>
          <li><img class="pic" src="http://abchoopsnyc.com/images/league4.jpg" title="&nbsp;" /></li>
        </ul>
</div>
        <div class="horizline"></div>
        <p class="sep">Why us?</p>
        <ul>
          <il>
            <p class="lsif">&#8226;&nbsp;We are a professionally run league: 
          </il>
          <ul>
            <p class="lsif">
              <il>-&nbsp;We log <b>comprehensive stats</b> which are uploaded online after each game.</il>
            <p class="lsif">
              <il>-&nbsp;An <b>electronic scoreboard and timer</b> is operated at each game.</il>
            <p class="lsif">
              <il>-&nbsp;Two <b>IAABO certified referees</b> at every game.</il>
            <p class="lsif">
              <il>-&nbsp;We offer <b>lower prices</b> than any other league in the city.</il>
          </ul>
        </ul>
        <ul>
          <il>
            <p class="lsif">&#8226;&nbsp;We offer:</p>
          </il>
          <ul>
            <p class="lsif">
              <il>-&nbsp;Two 20 minute halves played at a hardwood floored gym with glass backboards</il>
            <p class="lsif">
              <il>-&nbsp;8 guaranteed games</il>
            <p class="lsif">
              <il>-&nbsp;10 ABCHoopsNYC T-Shirts or 10 Adidas jerseys for a fee</il>
              </il>
            </p>
          </ul>
        </ul>
        </ul>
        <p class="lsif">What are you waiting for?</p>
        <br />
<a href="/signup" class="lisub" style="margin:0 auto;">SIGN UP TODAY</a>
        <p>&nbsp;</p>
        <h1><a name="rules" id="rules"></a>Rules</h1>
        <p class="lsif">ABCHoopsNYC predominantly follows the NCAA Men's Basketball Rulebook for gameplay; All other procedures, restrictions and exceptions are explained in the following rule book: <a href="http://abchoopsnyc.com/ABCHoopsNYCRules.pdf">ABC Hoops NYC Rules.pdf</a></p>
        <h3>&nbsp;</h3>
        <h1><a name="contact" id="contact"></a>Contact</h1>
        <p class="lsif"><a href="mailto:abchoopsnyc@gmail.com">abchoopsnyc@gmail.com</a></p>