<h1>Media</h1>
<h3>3-Point Contest</h3>
<iframe style="padding-top:5px;" width="800" height="445" src="http://www.youtube.com/embed/TbmExOzuq0I" frameborder="0" allowfullscreen></iframe>
<p>&nbsp;</p>
<h3>Sunday League Highlights</h3>
<iframe style="padding-top:5px;" width="800" height="445" src="http://www.youtube.com/embed/UD6jivTKTAg" frameborder="0" allowfullscreen></iframe>
<p>&nbsp;</p>
<h3>Benedict Schemers Semifinals & Finals Highlights</h3>
<iframe style="padding-top:5px;" width="800" height="445" src="http://www.youtube.com/embed/4gOY6TtIawA" frameborder="0" allowfullscreen></iframe>