<script type="text/javascript">
function myData(data) {
	$('#test').replaceWith(data);
}
  $.getJSON("http://abchoopsnyc-7118.use1.actionbox.io/api/standings?callback=?");
</script>
<div id="test" style="height:200px;"></div>